{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}


{% block title %}
    Login
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/login-form.css' %}">
{% endblock %}

{% block content %}
    <section id="login-form">
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="form-login">
            {% csrf_token %}

            <h1 class="h3 mb-3 mt-5 font-weight-normal">Please sign in</h1>

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% include 'includes/form-element.html' with form=form field=form.username placeholder='username' %}
            {% include 'includes/form-element.html' with form=form field=form.password placeholder='password' %}

            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>
    </section>

{% endblock %}