	{% extends "base.html" %}

{% block title %}
    Assets
{% endblock %}

{% block content %}
<style type="text/css">
	.btn {
	display: block;
	background-color: #ff7100;
	border: none;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 30px;
	font-size: 18px;
	cursor: pointer;
	font-family: Telegrama;
	font-style: Render;
	}

.btn:hover {
	background-color: #f2c86e;
	color: #000;
	}

a:hover {
	text-decoration: none;
}
</style>
    <div class="title-container">
    	<div class="grad"></div>
    <h1 class="mt-5">Distant Worlds 2 Visual Assets</h1>
    <h2>Official DW2 resources for social media, livestreams and video</h2></div>
    <h3>Foreword on Intellectual Property</h3>
    <br>
    <p>Qohen Leth designed the Distant Worlds 2 logo, from the original 'two-tone' variant of the Distant Worlds 3302 logo by Hi-Ban. The logo contains assets from Frontier Developments, PLC. <span class="warning">You are not authorized to use the logo for profit or in any commercial way.</span> You can use it for non-profit and strict communication purposes, such as (but not limited to): forum avatar, forum signature, livestreams, YouTube videos, narratives, CMDR logs, etc. You are not permitted to transform, crop or subvert it. Please respect the work of the people involved in this community event.</p><br>
    <h3>Resources pack</h3>
    <br>
    <p>Click below to download the .rar archive of Distant Worlds 2 assets. The pack contains:
    	<ul><li><span style="color: #ff7100;">DW2 logo</span> in: .svg, .png (2000px, 1000px, 500px, 250px, 100px), .pdf</li>
    		<li><span style="color: #f2c86e;">DW2 logo alternate coloring</span> in: .svg, .png (2000px, 1000px, 500px, 250px, 100px), .pdf</li>
    		<li>DW2 logo watermark (white) in: .svg, .png (2000px, 1000px, 500px, 250px, 100px)</li>
    		<li><span style="color: #3dabb8;">DW2 text watermark</span> in : .svg, .png (1000px, 500px, 250px)</li>
    		<li>Roles icons in: .png (200px, 100px), .gif (200px, 100px)</li>
      	</ul>
    </p>
<a href="https://drive.google.com/open?id=1vC37D0kHtrq7KpTyR1NibcdI_Wh0fu-0"><button class="btn" style="margin-top: 75px; margin-bottom: 25px;"><i class="fa fa-download"></i> DOWNLOAD</button></a>
<div class="row" style="padding-top: 50px; padding-bottom: 50px;">
	<div class="col-sm-6 text-center">
		<img src="/static/svg/dw2patch.svg"><br><br><h4>Original Logo</h4></div>
	<div class="col-sm-6 text-center">
		<img src="/static/svg/dw2logo_alternate.svg"><br><br><h4>Alternate Logo</h4></div>
	</div>
<div class="row" style="padding-bottom: 50px;">
	<div class="col-sm-6 text-center">
		<img src="/static/svg/dw2logo_white.svg"><br><br><h4>White Watermark Logo</h4></div>
	<div class="col-sm-6 text-center align-middle" style="display: flex; flex-direction: column; justify-content: center;">
		<img src="/static/svg/dw2textwatermark.svg" style="width: 100%;"><br><br><h4>Text Watermark</h4></div>
	</div>



{% endblock %}