{% extends "base.html" %}

{% block title %}
    Distant Worlds Background
{% endblock %}

{% block content %}
    <div class="title-container">
    	<div class="grad"></div>
<h1>A Distant Worlds Background History</h1>
<h2>It all had to start somewhere...</h2>
</div>
<img class="content-img" src="https://i.imgur.com/DwvBk20.jpg">
<h2>Distant Suns - The Forerunner</h2><br>
<p>Distant Suns was a <a class="link" href="https://www.youtube.com/watch?v=olwfIBnis5g&list=PLlxQlUpqv8OAmzA41B5A2u2_SqVXf2s2Q">vid-log journey</a> of a solitary Lakon Asp Explorer (DSS Beagle) across the galaxy that began on December 16th 3300, and culminated on January 18th 3301 out on the far galactic rim, 65,000 LYs away. It marked the first recorded galactic crossing, and news of the event made it into the earliest GalNet articles and YouTube news channels at the time. More in-depth information on the DSS Beagle's journey to the far outer rim can be found in the 'History of Beagle Point' section.</p>

<img class="content-img" src="https://i.imgur.com/5R5jtBU.png">
<h2>Distant Worlds 3302 (DW1) - Expedition Background</h2><br>
<h3>Inception</h3><br>
<p>The initial idea behind "Distant Worlds" was for a 2-man wing (CMDR 'Erimus' Kamzel & CMDR Dr. Kaii) to set off from the Frontier in an attempt to retrace the Distant Suns route out to the star system designated Ceeckia ZQ-L C24-0 (Beagle Point), on the far galactic rim. Once it became known, several other commanders took an interest and eventually Erimus posted an invitation to the exploration community - complete with roster sign up options and an itinerary and maps of the route. It was thought that no more than half a dozen players would be interested in joining Erimus & Dr. Kaii on this crazy venture.</p>
<p>Within a week of posting the invite, 25 commanders had signed up.</p>
<p>Within a month, over 100.</p>
<p>Within three months, 600 pilots had signed up, representing 35 nations around the world.</p>
<p>The event grew into something no one envisioned. It captured the imagination of the exploration community. By the events launch date of January 14th 3302, around 1,150 commanders had officially registered with the Distant Worlds fleet, with around 200 more missing the deadline but coming along regardless.</p><br>

<h2>The Expedition</h2><br>
<p class="highlight">Full details, including maps, locations, statistics, and roster links for Distant Worlds 3302 can be found <a class="link" href="https://forums.frontier.co.uk/showthread.php/198085-Distant-Worlds-A-journey-beyond-the-Abyss">here</a>.</p><br>
<h3>Legacy</h3><br>
<p>Distant Worlds became the largest ever community expedition event. The expedition coincided with the launch of Horizons 2.0 and it caught the zeitgeist of the exploration communities desire to explore the new content of that release. Over 1,300 commanders took part in its six month long endeavour to map out the first galactic ‘Jumponium’ highway for the Mapping Project, stretching 81,500 light years from Pallaeni to Beagle Point.</p>
<p>According to Michael Brookes (FDev), the event was covered in eight different gaming magazine articles, and spawned several hundred Distant Worlds YouTube videos. It was extensively covered by the streaming community, and has given rise to hundreds, if not thousands, of forum posts and blogs on various forums, Reddit, Wiki’s, and external websites. A weekly newsletter series was also created during the event, which was eventually turned into a book.</p>
<p>The event incorporated many aspects of community created content and gave rise to groups like the Rock Rats and the Candy Crew. It was the foundation of the FleetComm community, which today has in excess of 3,000 members dedicated to exploration.</p>
<p>Distant Worlds was the event that directly inspired Jaques the Cyborg to attempt a starport hyperjump to Beagle Point - in recognition of what the DW fleet had accomplished. Jaques hyperjump failed, and he ended up in a region 22,000 light years from Sol - a region that subsequently became known as 'Colonia', and the birth of humanities first outer colony.</p>
<p>The overwhelming feeling of DW 3302 has been extremely positive and its influence on exploration, mass expeditions, and background lore has made it an event that is still talked about fondly today by the community who took part, and those who watched it unfold.</p>
<p>Here are some of the CMDR quotes that were gathered at the end of Distant Worlds 3302 for the <a class="link" href="http://www.mediafire.com/view/3obeebgt5cws3w3/EndeavourPoster_4K.png">Endeavour poster</a>...</p>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ff7100; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">We choose to go to Beagle Point. We choose to go to Beagle Point in this decade, not because it is easy, but because it is hard,
		because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.</p>
  		<footer class="blockquote-footer">CMDR Alex Brentnall</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ffb300; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">This is the kind of thing I became a CMDR for, can't wait 'til we do it again.</p>
  		<footer class="blockquote-footer">CMDR Orciencor</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #fff200; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">You may call us crazy, but I call  these people my friends.</p>
  		<footer class="blockquote-footer">CMDR Dukrous</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ccff00; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">It was a blast, I'd travel with you guys any time.</p>
  		<footer class="blockquote-footer">CMDR Kaellito</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #8cff00; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">The Distant Worlds Expedition is a Fleet of people with undaunted determination and infinite friendship.</p>
  		<footer class="blockquote-footer">CMDR Mooberry</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #4cff00; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">DWE is first exploration trip I've ever taken outside of 1000 ly from the bubble and I would have turned back by WP11 if it wasn't for the friendships I've built here.</p>
  		<footer class="blockquote-footer">CMDR Jdude1</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #0dff00; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">DWE: a bunch of crazies keeping each other sane (and awesome company!) in a trip to the far ends of the galaxy.</p>
  		<footer class="blockquote-footer">CMDR Silh</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #00ff33; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">The best of company made this whole journey unreasonably fun and rekindled the joy of exploration.</p>
  		<footer class="blockquote-footer">CMDR Trevor Goodchild</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #00ff73; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">They always said, "If everyone jumped across the galaxy would you jump too?" This was only possible because of all the great commanders who joined, Thanks.</p>
  		<footer class="blockquote-footer">CMDR Nookie Mr.Smith</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #00ffb2; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0"> We came for the planets and moons. We found the shiniest things of all; the character of the wonderful CMDRs in this expedition: the real stars of the Galaxy!</p>
  		<footer class="blockquote-footer">CMDR Kancro Vantas</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #00fff2; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">I never explored before and I am so happy that I made it. The last weeks were full of excitement and fun and I learned a lot! Big thanks to everyone who made this event happen!</p>
  		<footer class="blockquote-footer">CMDR LevaFresel</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #00ccff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">My frame shift drive turned into a friendship drive.</p>
  		<footer class="blockquote-footer">CMDR Kaho Aoki</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #008cff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">The paradox of DWE is that we've brought the best qualities of humanity with us to the other end of the galaxy: Dedication, compassion and a childlike curiosity to uncover the secrets of the distant cosmos.</p>
  		<footer class="blockquote-footer">CMDR VeloceRapture</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #004cff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">DWE has put my faith back in Elite, without it and everyone involved I may have given up.</p>
  		<footer class="blockquote-footer">CMDR At0micb0mb638</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #000dff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">You'll never find a more tested hive of fun and chivalry. This has been probably my greatest experience in Elite. Thank you to everyone involved!</p>
  		<footer class="blockquote-footer">CMDR Aranck</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #3300ff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">This was the most intense trial of endurance that I have ever faced and would have not have been possible without the support of the community. Dankon por la subteneco!</p>
  		<footer class="blockquote-footer">CMDR Olivia Vespera</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #7300ff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">This is the first MMO of which I truly felt a community member. I tried EQ, FFXI, UO, and never found a group of people who I was happy to call Friends. DWE members are a special group, never lose that, and never forget Beagle Point, 2 Apr 3302.</p>
  		<footer class="blockquote-footer">CMDR AntinomyPentaFloride</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #b300ff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">Space without people is like a page without words, and the Distant Worlds Expedition has brought humanity's words to that empty space, writing our story in large, bright letters across the entire galaxy.</p>
  		<footer class="blockquote-footer">CMDR Turjan</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #f200ff; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">The secrets I've uncovered, the promising opportunities I've found for humankind, and everything else I've come to learn from this adventure more than proved that joining the Distant Worlds Expedition was worth my time.</p>
  		<footer class="blockquote-footer">CMDR Jeremy Schaeffer</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ff00cc; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">The true spirit of Humanity, explorers from all walks of life and backgrounds, banded together for science, exploration, friendship and space madness!</p>
  		<footer class="blockquote-footer">CMDR Richard Anderson</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ff008c; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">What began as an interesting challenge has grown into much more. In the end, the DWE is about those crazy explorers who met out in the black – and became good friends. Three cheers for our community and the start of something big!</p>
  		<footer class="blockquote-footer">CMDR May</footer>
	</blockquote>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ff004d; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;margin-top: 20px;">
  		<p class="mb-0">A legendary journey came to an end. The friends we made, the memories we gathered and the feats we accomplished will live on after we've gone. Mere mortals stepping in the trail of giants, the recipe of legends, the yeast of myths. I salute you!</p>
  		<footer class="blockquote-footer">CMDR Ultimus</footer>
	</blockquote>













{% endblock %}