{% extends "base.html" %}

{% block title %}
    Distant Worlds Background
{% endblock %}

{% block content %}
    <div class="title-container">
    	<div class="grad"></div>
<h1>A Distant Worlds Background History</h1>
</div>
<img src="https://i.imgur.com/DwvBk20.jpg" style="align-content: center;">
<h2>Distant Suns - The Forerunner</h2><br>
<p>Distant Suns was a vid-log journey of a solitary Lakon Asp Explorer (DSS Beagle) across the galaxy that began on December 16th 3300, and culminated on January 18th 3301 out on the far galactic rim, 65,000 LYs away. It marked the first recorded galactic crossing, and news of the event made it into the earliest GalNet articles and YouTube news channels at the time. More in-depth information on the DSS Beagle's journey to the far outer rim can be found in the 'History of Beagle Point' section.</p>

<img src="https://i.imgur.com/5R5jtBU.png" style="align-content: center;">
<h2>Distant Worlds 3302 (DW1) - Expedition Background</h2><br>
<h3>Inception</h3><br>
<p>The initial idea behind "Distant Worlds" was for a 2-man wing (CMDR 'Erimus' Kamzel & CMDR Dr. Kaii) to set off from the Frontier in an attempt to retrace the Distant Suns route out to the star system designated Ceeckia ZQ-L C24-0 (Beagle Point), on the far galactic rim. Once it became known, several other commanders took an interest and eventually Erimus posted an invitation to the exploration community - complete with roster sign up options and an itinerary and maps of the route. It was thought that no more than half a dozen players would be interested in joining Erimus & Dr. Kaii on this crazy venture.</p>
<p>Within a week of posting the invite, 25 commanders had signed up.</p>
<p>Within a month, over 100.</p>
<p>Within three months, 600 pilots had signed up, representing 35 nations around the world.</p>
<p>The event grew into something no one envisioned. It captured the imagination of the exploration community. By the events launch date of January 14th 3302, around 1,150 commanders had officially registered with the Distant Worlds fleet, with around 200 more missing the deadline but coming along regardless.</p><br>

<h2>The Expedition</h2><br>
<p class="highlight">Full details, including maps, locations, statistics, and roster links for Distant Worlds 3302 can be found <a class="link" href="https://forums.frontier.co.uk/showthread.php/198085-Distant-Worlds-A-journey-beyond-the-Abyss">here</a>.</p><br>
<h3>Legacy</h3><br>
<p>Distant Worlds became the largest ever community expedition event. The expedition coincided with the launch of Horizons 2.0 and it caught the zeitgeist of the exploration communities desire to explore the new content of that release. Over 1,300 commanders took part in its six month long endeavour to map out the first galactic ‘Jumponium’ highway for the Mapping Project, stretching 81,500 light years from Pallaeni to Beagle Point.</p>
<p>According to Michael Brookes (FDev), the event was covered in eight different gaming magazine articles, and spawned several hundred Distant Worlds YouTube videos. It was extensively covered by the streaming community, and has given rise to hundreds, if not thousands, of forum posts and blogs on various forums, Reddit, Wiki’s, and external websites. A weekly newsletter series was also created during the event, which was eventually turned into a book.</p>
<p>The event incorporated many aspects of community created content and gave rise to groups like the Rock Rats and the Candy Crew. It was the foundation of the FleetComm community, which today has in excess of 3,000 members dedicated to exploration.</p>
<p>Distant Worlds was the event that directly inspired Jaques the Cyborg to attempt a starport hyperjump to Beagle Point - in recognition of what the DW fleet had accomplished. Jaques hyperjump failed, and he ended up in a region 22,000 light years from Sol - a region that subsequently became known as 'Colonia', and the birth of humanities first outer colony.</p>
<p>The overwhelming feeling of DW 3302 has been extremely positive and its influence on exploration, mass expeditions, and background lore has made it an event that is still talked about fondly today by the community who took part, and those who watched it unfold.</p>

{% endblock %}