{% extends "base.html" %}

{% block title %}
    Distant Worlds 2
{% endblock %}

{% block content %}
    <div class="row highlight-row">
        <div class="col-12">
            <h1>Elite Header 1</h1>
            <h2>Elite Header 2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p><i class="fas fa-angle-right"></i>Forum thread</p>
        </div>
        <div class="col-4">
            <ul>
                <li><a href="#">EDSM Exploration Page</a></li>
                <li><a href="#">EDSM Exploration Map</a></li>
                <li><a href="#">Scouting Trello</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Reaching Beagle Point</h3>
            <p>Beagle Point is where the 'Outbound' journey will end and 'The Voyage Home' stage begins. To reach this star system you will need a ship that can jump a minimum of 33.4 LYs. Commanders thinking of taking short-range ships, please make sure your ship has a range of at least 16.8 LYs as a Jumponium level 3 fuel boost will then make Beagle Point attainable.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Time Commitment Requirements (A Rough Guide)</h3>
            <p>For the "Outbound" journey an initial timeframe of 16 weeks to reach Beagle Point has been set. This is currently a placeholder and may change when the exact expedition itinerary and schedule is ironed out later this year.</p>

            <p>For reference; DW1 was a 12-week outbound journey that took place long before ships had increased FSD ranges via engineering. 571 commanders in pre-engineering era ships completed DW1 on schedule. For the outbound journey on DW2, the new fleet will have at least 4 extra weeks and the ability to take longer ranged ships to accomplish what the DW1 fleet did back in 3302.</p>
                    
            <p>For typical time management vs ship ranges, this should give you an idea of travel times on DW2;</p>

            <p>On the premise that the Community Goal idea for the expedition is accepted, the stated timescales will be adjusted in accordance to whatever is required by FD. Being part of the DW2 fleet roster is not mandatory as any CG would naturally be open to all players, whether they want to be associated with DW2 or not.</p>
                    
            <p>Some of the planned content that will be incorporated into the expedition includes the following waypoint events & projects (subject to change);</p>
                    
            <p>POI scouting missions for the Galactic Mapping Project (inc. naming of interesting systems, worlds, and geological surface features for the GMP). Cataloguing geysers, fumaroles, and organics for the Milky Way Society of Organics and Geology Project. Environmental Space Anomaly discovery and cataloguing (anomalies have been hinted at by FD for inclusion in the 'Beyond' series). The Scientific Surveyor Project (collating a wealth of statistics on types of star systems, worlds, and asteroid fields- among other things), and creating documents on what the DW2 fleet discovered by journey's end. Basecamp Events (inc. SRV Tag Extreme, Whack-a-Rat, SRV Canyon Races, Fighter Races, SRV Mountain Climbing, SRV Destruction Derby).</p>
        </div>        
    </div>
    <div class="row">
        <div class="col-12">
            <h3>Why early registration?</h3>
            <p>Despite the main event being schedule for later this year, the roster process has been opened early for three main reasons; Firstly there will be a DW2 waypoint scouting event set up in Q1/Q2 - this will invite any interested fleet members to help seek out and locate specific locations for the main expedition to visit during DW2. It'll be a series of small-scale missions held throughout the spring and early summer of 2018 (more details will be posted about this after the Q1 update is live). Secondly, the roster will give us an idea of what the most popular roles will be - so this gives us plenty of time to see what kind of events and projects we need to flesh out and incorporate in readiness for the main event. And thirdly if there's enough support for the expeditions goals to incorporate resource gathering (eg. fuel mining for Carrier/Megaship logistical support), the ideas discussed here will be proposed on FDev's upcoming focused feedbacks.</p>
        </div>        
    </div>    
    <div class="row">
        <div class="col-12">
            <h3>Roles within the fleet</h3>
            <p>Fleet roles on DW2 will be linked to specific events and projects that will be incorporated into the overall expedition. Some of the listed roles could be subject to change depending on new gameplay mechanics or features appearing with the 'Beyond' series of updates. If current roles become unviable, or new ones get incorporated, we'll announce it on this thread. For roster purposes, you can choose up to two fleet roles, but this does not prevent you from taking on multiple roles during DW2. You can also edit your chosen roles anytime you like using the edit link you'll be provided with once you submit your fleet registration.</p>
        </div>        
    </div>        
    <div class="row justify-content-center">
        <div class="col-10">
            <img src="http://via.placeholder.com/350x150" width="100%" height="100%">
        </div>    
    </div>      
    <div class="row justify-content-center">
        <div class="col-10">
            <blockquote class="blockquote">
                <p class="mb-0">"You Brave Explorers, the ones who fly into the wake of giants, yet blaze your own trails.
                        Who seek to explore distant worlds, not for profit, but in the pursuit of knowledge.
                        You who await launch at Brook's Point, Pallaeni, knowing many will fall undertaking such an endeavour.
                        Yet take off regardless, with hope in your heart in spite of the dangers before you.
                        You Brave Explorers, I salute you o7, each and every one.
                        May the journey seem swift, with scoopables at every jump.
                        And may you all find Beagle Point, or fail courageously trying.
                        
                        You Brave Explorers."</p>
                <footer class="blockquote-footer">CMDR Cula-Ta (Jan. 8th 3302)<cite title="Source Title">'You Brave Explorers'</cite></footer>
            </blockquote>
        </div>    
    </div>      
{% endblock %}