{% extends "base.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block content %}
    <div class="title-container">
    	<div class="title-grad"></div>
    <h1 class="h1-std">FAQ</h1>
    <h2 class="h2-std">Questions you might want to ask, with sanctionned answers</h2></div>
<p class="p-std highlight">How do I know my application was successfully sent?</p>
<p class="p-std">You can search your entry in the <a class="a-std" href="internal link">Roster</a> a few minutes after sending the application. The Roster published on the Sign-Up forum thread is updated only every few days, though. In any case, Google Forms do not fail.</p>
<p class="p-std highlight">How do I update my roster information?</p>
<p class="p-std">Assuming you haven't followed the instructions to keep your form edit URL, you can <a class="a-std" href="internal link">contact</a> Qohen Leth with your CMDR Name and Roster number, and the desired amendments. Please delay your request until you are quite sure of your ship, role(s), etc. Spamming amendments will not sit well with the Q.</p>
<p class="p-std highlight">Can I send two applications?</p>
<p class="p-std">One application per CMDR. So you can send two for your main and your alt, or three if you have three <em>participating</em> accounts. Any duplicate applications are and will be automatically discarded.</p>
<p class="p-std highlight">What is the absolute minimum jump range needed to reach Beagle Point?</p>
<p class="p-std">33.4 ly. So you need to have at least 16.8 ly of jump range and a few level 2 and level 3 FSD synthesis to cross the Abyss and make the final jump to Beagle Point. You may only need the one level 3 boost if you take a wider, longer route along the galactic arms to avoid the Abyss. You can use <a class="a-std" href="https://docs.google.com/spreadsheets/d/13PSjgGMwnsunKVCpNlrV5A8iKT1auIE1dhKGp9HuuYI/edit#gid=1373085160">this sheet</a> as a reference for your potential FSD synthesis needs.</p>
<p class="p-std highlight">Do I have to have a role to take part?</p>
<p class="p-std">Absolutely not. Roles are purely optional. Until we have more information on Frontier's support of DW2, most of them are mainly role-play.</p>
<p class="p-std highlight">I don't have a lot of game time, can I even keep up?</p>
<p class="p-std">The expected pace should be around 1,000ly per day on average, at 5 days of travel per week. This is a little slower than the Distant Worlds 3302 pace, <em>with</em> engineered FSDs on top. It should take 2 to 3 hours per route leg on a high ranged ship (40ly). See the <a class="a-std" href="internal link">expedition page</a> for various estimates of travel time. If you cannot play at least 3 or 4 hours a week, you probably won't be enjoying the trip. On a side note, you don't have to be at every waypoint on the date of the basecamp meetup, or at all; if RL gets in the way, you can always race later on to catch up with the fleet.</p>
<p class="p-std highlight">Do I have to be on comms?</p>
<p class="p-std">No. You may want to be on the FleetComm Discord server as all important information will be posted there first thing and there's always someone around if you have a question or need help. Text or voice chat is completely optional.</p>
<p class="p-std highlight">Do I need to pack weapons just in case?</p>
<p class="p-std">If you play in one of the official private groups, no. If you play in Open, it's at your discretion. If you are worried about returning to the inhabited bubble with months of exploration data, groups like the <a class="a-std" href="https://twitter.com/iridiumwing">Iridium Wing</a> can provide armed escorts for the returning CMDR's safety.</p>
<p class="p-std highlight">Are basecamp meetups mandatory?</p>
<p class="p-std">No. They're just opportunities to unwind, stretch your legs, meet fellow travelers, get on voice comms, drive the SRV around. There may be fun events and livestreams with guests during some of those meetups, though.</p>
<p class="p-std highlight">How do I join one of the official in-game private groups?</p>
<p class="p-std">Go to the <a class="a-std" href="internal link">FleetComm</a> page and follow instructions.</p>
<p class="p-std highlight">Can I use the DW2 logo to print t-shirts or stickers?</p>
<p class="p-std">The Distant Worlds 2 insignia contains assets from Frontier Developments, PLC and thus cannot be used commercially without permission. If you want to use it, please <a class="a-std" href="internal link">contact</a> Qohen Leth. Besides, chances are the file you'll want to use won't meet the technical requirements for the intended use, and the result will be poor.</p>
<p class="p-std highlight">How can I take pretty screenshots for the photo gallery?</p>
<p class="p-std">On PC, use F10 for regular screenshots, Alt+F10 for super high resolution screenshots (8K). <a class="a-std" href="https://github.com/EDDiscovery/EDDiscovery/wiki">EDDiscovery</a> and <a class="a-std" href="http://www.martianfire.co.uk/?page_id=26">ScreenshotChanger</a> can convert your Elite screenshots on the fly to .jpg or .png. You can also use apps like <a class="a-std" href="http://getgreenshot.org">Greenshot</a> to capture your screen and save it in various formats. Your GPU's software is likely to have a screenshot feature (MSI Afterburner, etc.) If you use Steam, make sure you save as .png; Steam's jpg compression algorithm is nothing short of terrible and overly artefacted pictures are likely to be discarded when submitted to the gallery.</p>
<p class="p-std highlight">How do mass jumps work?</p>
<p class="p-std">People wing each others to force everyone in the same instance, then they all target a common system, charge FSDs, then accelerate in normal cruise in the same direction. It's pretty cool. When the game doesn't break.</p>
<div class="row" style="padding-bottom: 25px;"><div class="col-md-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/06J-Hmx2CnQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/D6STfIt-P1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div><div class="col-md-6">
<iframe width="560" height="315" src="https://www.youtube.com/embed/qQitp4L5GOw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8R4JbYmKb4U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div></div>
<p class="p-std highlight">What do I win if I'm the first one at the next waypoint?</p>
<p class="p-std">Nothing. It's not a race.</p>
<p class="p-std highlight">Is Distant Worlds 2 just hype, in the end?</p>
<p class="p-std">Ask Distant Worlds 3302 veterans. They'll go on for hours on their fond memories of those exciting times. It <em>is</em> something special. It's like going on a road trip around the world with 2,000 people you barely know. In the end, you'll have made friends.</p>
<p class="p-std highlight">I heard we would have a megaship, will it have outfitting and stuff?</p>
<p class="p-std">We don't know anything about it yet.</p>
<p class="p-std highlight">What if griefers tag along?</p>
<p class="p-std">Fly in one of the official private groups. If you only want to fly in Open... do as you would normally do?</p>
<p class="p-std highlight">Do I need a 70ly Anaconda?</p>
<p class="p-std">NO.</p>
<p class="p-std highlight">How can I order a cool embroidered patch for my spacesuit?</p>
<p class="p-std">Head over to the <a class="a-std" href="internal link">Patch order</a> page and spend some galactic credits.</p>
<p class="p-std highlight">How does it work for non-Euro timezones?</p>
<p class="p-std">Roster statistics show that non-Euro timezones are very marginal, so as much as we'd like to have official reps at basecamps around the clock on meetup days, we're faced with a quasi absence of volunteers. It's not like people need an overseer to meet, though. It will probably be less crowded than the Euro timezones; we thus encourage non-Euro players to send friend invites to other people in their timezones (using the sort functions of the Roster).</p>
{% endblock %}