{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
<div class="title-container">
	<div class="grad"></div>
	<h1 class="mt-5">Distant Worlds 2 Fleet Registration</h1>
	<h2>Sign up by clicking on our totally fake mission board</h2>
</div>
<div class="row"><p class="ext-link"><a class="link" href="https://forums.frontier.co.uk/showthread.php/404790-DW2-Distant-Worlds-II-Fleet-Roster-Sign-Up-Thread">> Forum thread</a></p></div>
<div class="container">
	<img src="https://qohenleth-cdn.sirv.com/dw2/mb/mb1.png" class="mx-auto d-block">
	<a href="https://docs.google.com/forms/d/e/1FAIpQLSeauTPWcU4JV-b7CqmpXinnIuRUx6C4OLLglBRTc1GPG8YqZw/viewform"><img src="https://qohenleth-cdn.sirv.com/dw2/mb/mbresp.png" class="mx-auto d-block"></a>
	<img src="https://qohenleth-cdn.sirv.com/dw2/mb/mb9.png" class="mx-auto d-block">
</div>

<h3>Info on the fleet registration process</h3>
<br>
<ul><li>If you are a DW1 veteran and want to reserve your original roster number, there is an option to do so on the sign up form. The roster will automatically crosscheck your roster reservation number with your CMDR name, so make sure your pilot's name is exactly as it was on the <a class="link" href="https://forums.frontier.co.uk/showthread.php?t=209331">old DW1 roster</a>.</li>
<li>All pilots new to DW or who haven't reserved their old DW1 roster number will be assigned fleet roster numbers starting at 2000 onwards.</li>
<li>The 'Comms ID' box on the roster form is simply a roleplay nickname you can assign to yourself (like your Discord name/handle for example). It's not mandatory to be a Discord user and be part of the DW fleet, but it helps.</li>
<li>The communications will be held on the <a class="link" href="https://discord.gg/rt9T9AA">FleetComm HQ Discord Server.</a></li>
<li>Once you submit your details, your entry may not appear immediately on the roster. If it hasn't appeared after 1 week, please post a message on this thread and the roster team will look into it.</li>
<li>Please only contact admin if there is an issue with your entry that you can't resolve, and when doing so please post your query to this thread stating your CMDR name and assigned roster number.</li>
<li>The roster will automatically generate a Ship ID number for you, which you can apply to your ship for the expedition (if you want to). <a class="link" href="https://forums.frontier.co.uk/showthread.php/404790-DW2-Distant-Worlds-II-Fleet-Roster-Sign-Up-Thread?p=6377228&viewfull=1#post6377228">How does it work?</a></li>
<li><span class="warn">Once you submit your details, you will be given a link. Keep that link as it allows you to update or amend your roster entry as and when you need to. We recommend that you PM that link to yourself so its always on-hand if you need it.</span></li>
<li>If you lost the edit link, you can use the <a class="link" href="internal link">Contact page</a> to email us with your registration amendments. It might take a while to be done cause we won't be checking every hour, but that'll be processed at some point.</li>
<li>If you send too many amendment requests over a short period of time, you'll be put on a waiting list and your registration will only updated at the very last moment</li></ul><br>

<p class="highlight">The expedition is taking place on all platforms: PC, Mac, XBox, PS4.</p>
<br>
<h3>Modes of Play on DW2</h3>
<br>
<p>DW2 will not be mode-specific, meaning players are free to experience it in Open, Solo, or their own Private Group Mode with their own rules for that group if they wish. The DW2 organization team take no responsibility for what happens in Open Play or personal Private Groups during the event. There will be an official private group for non-CG related events (basecamp meets and roleplayed events etc), this is FleetComm - you can apply to FleetComm <a class="link" href="internal placeholder link">here</a>.</p>
<p>FleetComm has rules to adhere to and breaking them rules may see offenders (individuals and possibly their whole player faction with them) removed from the roster, permanently expelled from the PG, its Discord, and all future DW events. Those rules can be found on the linked thread. FleetComm is administered by Grnbrg, and all enquiries regarding it should be made via his thread.</p>
<br>
<p class="highlight">Why is it important to fill the Registration Form accurately?</p>
<a href="https://qohenleth.sirv.com/dw2/flow.png"><img src="https://qohenleth.sirv.com/dw2/flow.png" style="padding-bottom: 50px;"></a>
{% endblock %}