{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="title-container">
	<div class="title-grad"></div>
<h1 class="h1-std">FleetComm Private Group</h1>
<h2 class="h2-std">Regulations regarding the official DW2 in-game private groups</h2></div>
<div class="row"><p class="p-std ext-link"><a class="a-std" href="https://forums.frontier.co.uk/showthread.php/285918-Announcing-FleetComm-the-exploration-focused-Private-(pc)-Group">> Forum thread</a></p></div>
<br>
<p class="p-std warning">Nota Bene: We do not have official console private groups as of yet. Information on official console private groups will be posted at a later date. Stay tuned! If you have any questions regarding console PGs, please <a class="a-std" href="internal link">contact</a> our console reps.</p><br>
<img class="img-std content-img" src="http://i.imgur.com/ahNkJNr.png" style="align-content: center; max-width: 200px;"><br>
<h3 class="h3-std">What is FleetComm PG?</h3>
<br>
<p class="p-std">Those who took part in the Distant Worlds 3302 expedition, the First Galactic Expedition, the Crab Nebula Expedition, and several others will be familiar with the Kamzel private group. The Kamzel PG was created by CMDR (Erimus) Kamzel to allow a safe space for the Distant Worlds pilots, and that group has grown to over 1,200 members. On September 1st 3303, that private group was renamed (and transferred to a new, dedicated game account) to FleetComm. I have taken over administration of the group, although I have no intention of straying far from the guiding principles that have built Kamzel into the group that it is now. I have also selected a couple of other commanders to assist in running the group -- they may or may not identify themselves. At some point in the future, if I get burned out, will select and turn the group and account over to the next Dread Pirate Roberts, and retire.</p>
<p class="p-std">In addition to the FleetComm private group, there is the <a class="a-std" href="https://discord.gg/rt9T9AA">FleetComm HQ Discord server</a>. Other groups are welcome (but certainly not required) to use it to host their expeditions in the future. I can usually be found there, if you have any questions or emergency issues with the PG.</p>
<br>
<h3 class="h3-std">FleetComm rules</h3>
<br>
<p class="p-std">The rules of the FleetComm Private Group are as follows, and all members are expected to follow them:
<ul class="ul-std"><li class="li-std"><h4 class="h4-std">RULE 1:</h4><span class="warning">Commanders are not permitted to cause the destruction of another Commander's ship</span></li><br>
<li class="li-std"><h4 class="h4-std">RULE 2:</h4><span class="warning">Any aggressive activity (which must not violate Rule 1) must be by mutual consent of all parties involved.</span></li><br>
<li class="li-std"><h4 class="h4-std">RULE 3:</h4><span class="warning">Restrict speed and stow hardpoints while within 2 kilometres (including altitude) of any published waypoint, landing zone, base camp, or any gathering of 4 or more ships.</span></li></ul></p><br>
<p class="p-std">Violation of Rule 1 will result in an immediate ejection and permanent ban from the group, whether deliberate or accidental. Violation of Rules 2 or 3 may result in either temporary or permanent bans, at the sole discretion of the group admins. Rule 1 is self evident. Rule 2 is intended to allow races and other games and events within the group. Note that both hull damage and SRV destruction are permitted under Rule 2, but ship destruction is <em>not</em>. Rule 3 is intended to ensure that gatherings are safe. There have been very few incidents in the history of the Kamzel private group, and (to my knowledge) no incidents where a Commander deliberately attacked another. However, there have been incidents where Commanders at published landing zones have incurred significant hull damage because another commander had an "accident". Fly safe. Check your speed, not your credit balance.</p>
<br>
<h3 class="h3-std">And a word about membership</h3><br>
<p class="p-std">FleetComm is open to all commanders. As long as they are willing to follow the posted rules, I don't care what they do in Open. I have a list of commanders who will be scrutinized and likely interviewed before their membership is (or is not) granted. I have a smaller list of commanders who have been confirmed to have invaded PvE groups in the past. <em>Those</em> commanders will not be admitted.</p>
<p class="p-std">If you were previously a member of Kamzel, you are automatically now a member of FleetComm. There is no way for me to enforce it, but I would request that you fill in the <a class="a-std" href="https://goo.gl/forms/P1x2bMRciVIB70Ah1">application form</a> that new members are required to.</p>
<br>
<h3 class="h3-std">Joining FleetComm</h3><br>
<p class="p-std">It's a two step process.<br>
<ul class="ul-std"><li class="li-std">Step 1: Fill in the <a class="a-std" href="https://goo.gl/forms/P1x2bMRciVIB70Ah1">FleetComm Application Form</a>. This gives me a single place to review applications, as well as explaining the group rules, and asking you to agree to them.</li>
<li class="li-std">Step 2: From the game menu, select <em>Friends and Private Groups</em>, then the <em>Groups</em> tab, then click <em>Search groups</em>, enter "FleetComm", and finally click <em>Request Join</em>.</li></ul></p>
<p class="p-std">I will review the application, and approve the join request ASAP. Optionally, but encouraged: Join the <a class="a-std" href="https://discord.gg/rt9T9AA">FleetComm HQ Discord server</a>.</p>
<p class="p-std">Welcome.</p>
<br>
<p class="p-std" style="padding-bottom: 50px;">CMDR <span style="color: green;">grnbrg</span></p>
{% endblock %}