{% extends "base.html" %}

{% block title %}
    Fleet Logistics
{% endblock %}

{% block content %}
    <div class="title-container">
    	<div class="grad"></div>
    <h1 class="mt-5">Fleet Logistics</h1>
    <h2>This year, we shoud go bigger!</h2></div>
    <div class="row">
    	<ul class="ext-ul list-unstyled">
    		<li class="ext-link"><a class="link" href="https://forums.frontier.co.uk/showthread.php/399894-Distant-Worlds-II-Roles-Fleet-Logistics">> Forum thread</a></li>
    		<li class="ext-link"><a class="link" href="https://docs.google.com/forms/d/e/1FAIpQLScyzHt-_UN53Srmp_es1CY2LTSHb0X4W9WZCHZbpvhpVDWbwQ/viewform?usp=sf_link">> Registration form</a></li>
			<li class="ext-link"><a class="link" href="https://discord.gg/QdMRwZR">> Temporary dedicated Discord server</a></li>
			<li class="ext-link"><a class="link" href="https://forums.frontier.co.uk/showthread.php/63119-Rare-Commodities-List!">> Rare Commodity List thread</a></li><br>
		</ul>
	</div>
    <h3>Fleet Logistics</h3>
    <br>
    <p>In Distant Worlds II, Fleet Logistics is a roleplay role that calls on the expedition's best haulers, truckers and traders, to keep the fleet afloat. It is a meta-game that adds an added sense of realism to the distant worlds endeavour that is loosely based on the original Distant World's Cargo Haulage role. There is one major and two supporting roles in Fleet Logistics, The Truckers, followed by the warehouse and the gatherer.</p>
    <blockquote class="blockquote" style="border: 2px solid; border-color: #ff7100; font-size: 0.8em;padding: 5px 5px 5px 5px; width: 75%; margin-left: auto; margin-right: auto;">
  		<p class="mb-0">It is said that our first encounter with the Thargoids will determine our relationship with them. If we are hostile, expect to die. If there are Thargoid outposts out there that we somehow stumble upon, and they allow us to dock, having trade goods may be a good idea. Just don't take bug spray, they may get the wrong idea!</p>
  		<footer class="blockquote-footer">Erimus <cite title="Source Title"><a class="link" href="https://forums.frontier.co.uk/showthread.php?p=3696931&viewfull=1#post3696931">Distant Worlds 3302 thread</a></cite></footer>
	</blockquote>
	<p class="highlight" style="text-align: center;">If you have any questions, please contact Olivia Vespera.</p>
	<br>
	<h3>Truckers</h3>
	<br>
	<p>Some of you may remember me as the pilot of the <a class="link" href="https://forums.frontier.co.uk/showthread.php/224802-Distant-Worlds-Fleet-Flagship">flagship</a> of the Distant Worlds Expedition.</p>
	<img class="content-img" src="https://i.imgur.com/4gcjaxn.jpg?1" alt="Photo by CMDRsimonharrison">
	<p>I flew a Type-9 Heavy before there were engineers with a measly jump range of 18.2 ly. But most importantly than that, I didn't bring a type-9 out in the black for no reason. I brought <span class="highlight">Cargo to trade</span>! 64 tons of cargo was collected a day before the expedition, some by myself, others donated with credits to themselves or their faction, written in a manifest. The idea was the bring these rare commodities from the bubble to the other end of the galaxy, in hope to trade with new found alien races or for our mutual enjoyment at the party at the edge of the abyss. It was an amazing experience to be a carrier of a collected assortment of rares, each with their own stories and histories.</p>
	<p>I only managed to acquire 40 different rares from the bubble to Beagle Point and only had a day to gather them. This year... this expedition, with much more time to plan this, we can haul all of them with redundancies to boot! Traders will be preloaded with one of 45 tons of rares for their platform. The current idea of how to allocate rares based on platform is in the Discord. If you wish to sign up as a trader, you must sign up for the distant worlds expedition and join us on the journey.</p>
	<p class="highlight">There is a total of 129 available <a class="link" href="https://forums.frontier.co.uk/showthread.php/63119-Rare-Commodities-List!">rare commodities</a> found in the galaxy and I think we should bring one of each (and probably a few spares) to Beagle Point.</p>
	<br>
	<h3>The Support Roles</h3>
	<br>
	<p>Before the expedition begins, we'll need volunteers to help collect and stores rares. Here is a description of two support roles and what will occur.</p>
	<br>
	<h4>Gatherers</h4>
	<p>Gatherers are pilots who will gather all the rare commodities prior to launch. They may not be coming on the expedition so anyone can help, not just expedition members. Gatherers will drop their rares off with a CMDR who will be flying a warehouse ship. When it gets closer to launch day, Tradeships will be preloaded with these rares. A medium ship to gather the rares would be best. Join the discord at the top of this post to help out.</p>
	<h4>Warehouses</h4>
	<p>Warehouses are ships involved in helping store rare commodities that the gatherers pickup for safekeeping until before the expedition for preloading onto the Truckers. They require a large ship with large cargo space. A type 9 at least with an Imperial Cutter at best. They wouldn't be able to play using their warehouse account very much as it may risk losing the rares. This is an advance CMDR role only recommended for CMDRs with multiple spare accounts... to spare.</p>
	<h4>Pre-launch</h4>
	<p>Gatherers will gather all rares and store them in warehouse ships. This should be completed at latest, one month before the expedition. one-two weeks before the expedition launch, truckers will be preloaded with rare commodities from the warehouse ship from a private group. They will sit tight until launch date.</p>
	<br>
	<h3>Notes</h3>
	<br>
	<ul><li>With regards to carrying the water needed. I refer you to this diagram which I've yet to figure out how much water would be needed based on <a class="link" href="http://www.projectrho.com/public_html/rocket/habmod.php#nasatranshab">Transhab</a>. Personally I think it's too tedious for a meta-game mechanic and if we really needed more water, in universe wise, we could just mine it from ice asteroids. Food is much harder to come by. With regards to the gargantuan amount of food we have to bring, remember that it's dependent on how many people will be coming, and we can definitely make it easier or harder depending on how we feel about the outcome and what we deem to be the efficiencies of hydroponics in limited spaces in our ships. <a class="link" href="https://i.imgur.com/dTWbz9B.jpg">Water management diagram</a></li>
		<li>List of all rares and their locations produced from the fine folks in the <a class="link" href="https://forums.frontier.co.uk/showthread.php/63119-Rare-Commodities-List!">Rare Commodity List thread</a>, updated 2018-02-15.</li></ul>
		<div style="padding-bottom: 50px;"><table align="center"><tbody>
			<tr><td>16 Lyrae</td>
			<td>Budrys Ring</td>
			<td>Lyrae Weed</td>
			</tr>
			<tr><td>17 Lyrae</td>
			<td>Langford Enterprise</td>
			<td>Ultra-Compact Processor</td>
			</tr>
			<tr><td>36 Ophiuchi (Independent)</td>
			<td>Katzenstein Dock (4,218,813ls)</td>
			<td>Ophiuch Exino Artefacts</td>
			</tr>
			<tr><td>39 Tauri (Independent)</td>
			<td>Porta (990ls)</td>
			<td>Tauri Chimes</td>
			</tr>
			<tr><td>47 Ceti (Empire)</td>
			<td>Glushko Station (600,000ls)</td>
			<td>Aepyornis Egg</td>
			</tr>
			<tr><td>47 Ceti (Empire)</td>
			<td>Kaufmanis Hub (600,000ls)</td>
			<td>Ceti Rabbits</td>
			</tr>
			<tr><td>9 Aurigae</td>
			<td>Hunt Enterprise (66,200ls)</td>
			<td>Saxon Wine</td>
			</tr>
			<tr><td>Aegaeon (Federation)</td>
			<td>Schweikart Station (11,600ls)</td>
			<td>Chateau De Aegaeon</td>
			</tr>
			<tr><td>Aerial (Independent)</td>
			<td>Andrade Legacy (180ls)</td>
			<td>Eden Apples of Aerial</td>
			</tr>
			<tr><td>Alacarakmo (Independent)</td>
			<td>Weyl Gateway (16ls)</td>
			<td>Alacarakmo Skin Art</td>
			</tr>
			<tr><td>Alpha Centauri</td>
			<td>Hutton Oribtal (0.22ly)</td>
			<td>Hutton Mug</td>
			</tr>
			<tr><td>Alpha Centauri (Federation)</td>
			<td>Hutton Oribtal (0.22ly)</td>
			<td>Centauri Mega Gin</td>
			</tr>
			<tr><td>Altair (Federation)</td>
			<td>Solo Orbiter (667ls)</td>
			<td>Altairian Skin</td>
			</tr>
			<tr><td>Alya (Independent)</td>
			<td>Malaspina Gateway (540,000ls)</td>
			<td>Alya Body Soup</td>
			</tr>
			<tr><td>Anduliga (Empire)</td>
			<td>Celsius Estate (626,220ls)</td>
			<td>Anduliga Fire Works</td>
			</tr>
			<tr><td>Any Na (Federation)</td>
			<td>Libby Orbital (581ls)</td>
			<td>Any Na Coffee</td>
			</tr>
			<tr><td>Arouca (Independent)</td>
			<td>Shipton Orbital (410ls)</td>
			<td>Arouca Conventula Sweets</td>
			</tr>
			<tr><td>Arque (Alliance)</td>
			<td>Baird Gateway (586ls)</td>
			<td>Shan's Charis Orchid</td>
			</tr>
			<tr><td>AZ Cancri (Fedration)</td>
			<td>Fisher Station (16ls)</td>
			<td>Az Cancri Formula 42</td>
			</tr>
			<tr><td>Baltah'Sine (independent)</td>
			<td>Baltha'sine Station (356Ls)</td>
			<td>Baltha'sine Vacuum Krill</td>
			</tr>
			<tr><td>Banki (Federation)</td>
			<td>Antonio De Andrade Vista (531,869ls)</td>
			<td>Banki Amphibious Leather</td>
			</tr>
			<tr><td>Bast (Federation)</td>
			<td>Hart Station (202ls)</td>
			<td>Bast Snake Gin</td>
			</tr>
			<tr><td>Belalans (Empire)</td>
			<td>Boscovich Ring</td>
			<td>Belalans Ray Leather</td>
			</tr>
			<tr><td>Bento</td>
			<td>Snow Moon</td>
			<td>Crystalline Spheres</td>
			</tr>
			<tr><td>Borasetani (Alliance)</td>
			<td>Katzenstien Terminal</td>
			<td>Borasetani Pathogenetics</td>
			</tr>
			<tr><td>CD-75 661 (Empire)</td>
			<td>Kirk Dock (339ls)</td>
			<td>CD-75 Kitten Brand Coffee</td>
			</tr>
			<tr><td>Cherbones (Alliance)</td>
			<td>Chalker Landing (576,740ls)</td>
			<td>Cherbones Blood Crystals</td>
			</tr>
			<tr><td>Chi Eridani (Federation)</td>
			<td>Steve Masters station (2,184ls)</td>
			<td>Chi Eridani Marine Paste</td>
			</tr>
			<tr><td>Colonia (Independent)</td>
			<td>Jaques Station</td>
			<td>Jaques Queintian Still</td>
			</tr>
			<tr><td>Coquim (Empire)</td>
			<td>Hirayama Installation (606ls)</td>
			<td>Coquim Spongiform Victuals</td>
			</tr>
			<tr><td>Crom</td>
			<td>Chorel Survay</td>
			<td>Crom Silver Fesh</td>
			</tr>
			<tr><td>Damna (Independent)</td>
			<td>Nemere Market (2,532ls)</td>
			<td>Damna Carapaces</td>
			</tr>
			<tr><td>Delta Phoenicis (Empire)</td>
			<td>Trading Post (3760ls)</td>
			<td>Delta Phoenicis Palms</td>
			</tr>
			<tr><td>Deuringas (Federation)</td>
			<td>Shukor Hub (798ls)</td>
			<td>Deuringas Truffles</td>
			</tr>
			<tr><td>Diso (Alliance)</td>
			<td>Shifnalport (284ls)</td>
			<td>Diso Ma Corn</td>
			</tr>
			<tr><td>Eleu (Independent)</td>
			<td>Finney Dock (333ls)</td>
			<td>Eleu Thermals</td>
			</tr>
			<tr><td>Epsilon Indi</td>
			<td>Mansfield Orbiter (143ls)</td>
			<td>Indi Bourbon</td>
			</tr>
			<tr><td>Eranin (Independent)</td>
			<td>Azeban City (290ls)</td>
			<td>Eranin Pearl Whiskey</td>
			</tr>
			<tr><td>Eshu (Empire)</td>
			<td>Shajn Terminal</td>
			<td>Eshu Umbrellas</td>
			</tr>
			<tr><td>Esuseku</td>
			<td>Savinykh Orbital (275ls)</td>
			<td>Esuseku Caviar</td>
			</tr>
			<tr><td>Ethgreze (Alliance)</td>
			<td>Bloch Station (348ls)</td>
			<td>Ethgreze Tea Buds</td>
			</tr>
			<tr><td>Fujin (Independent)</td>
			<td>Futen Spaceport (559ls)</td>
			<td>Fujin Tea</td>
			</tr>
			<tr><td>Geawen (Independent)</td>
			<td>Obruchev Legacy (426,261ls)</td>
			<td>Geawen Dance Dust</td>
			</tr>
			<tr><td>George Pantazis (Fedration)</td>
			<td>Zakam Platform (45ls)</td>
			<td>Pantaa Prayer Sticks</td>
			</tr>
			<tr><td>Geras (Federation)</td>
			<td>Yurchikhin Port (1,052,931ls)</td>
			<td>Gerasian Gueuze Beer</td>
			</tr>
			<tr><td>Goman (Empire)</td>
			<td>Gustav Sporer Port</td>
			<td>Goman Yaupon Coffee</td>
			</tr>
			<tr><td>Haiden (Federation)</td>
			<td>Searfoss Enterprise (561,080ls)</td>
			<td>Haidne Black Brew</td>
			</tr>
			<tr><td>Harma</td>
			<td>Gabriel Enterprise</td>
			<td>Harma Silver Sea Rum</td>
			</tr>
			<tr><td>Havasupai (Federation)</td>
			<td>Lovelace Port (601,314ls)</td>
			<td>Havasupai Dream Catcher</td>
			</tr>
			<tr><td>Hecate (Independent)</td>
			<td>RJH1972 (525ls)</td>
			<td>Live Hecate Sea Worms</td>
			</tr>
			<tr><td>Heike</td>
			<td>Brunel City</td>
			<td>Ceremonial Heike Tea</td>
			</tr>
			<tr><td>Helvetitj</td>
			<td>Friend Orbital</td>
			<td>Helvetitj Pearls</td>
			</tr>
			<tr><td>HIP 10175 (Federation)</td>
			<td>Stefanyshyn-Piper Station (4850ls)</td>
			<td>HIP 10175 Bush Meat</td>
			</tr>
			<tr><td>HIP 112974</td>
			<td>La Cosa City</td>
			<td>Onionhead Beta Strain</td>
			</tr>
			<tr><td>HIP 118311</td>
			<td>Lubbock Market</td>
			<td>HIP 118311 Swarm</td>
			</tr>
			<tr><td>HIP 41181</td>
			<td>Andersson Station (536,714ls)</td>
			<td>HIP Proto-Squid</td>
			</tr>
			<tr><td>HIP 59533</td>
			<td>Burnham Beacon (529,600ls)</td>
			<td>Burnham Bile Distillate</td>
			</tr>
			<tr><td>HIP 80364</td>
			<td>Stasheff Colony (2632ls)</td>
			<td>HIP Organophospates</td>
			</tr>
			<tr><td>Holva</td>
			<td>Kreutz Orbital (22,000ls)</td>
			<td>Holva Duelling Blades</td>
			</tr>
			<tr><td>HR 7221 (Empire)</td>
			<td>Veron City (1,886ls)</td>
			<td>HR 7221 Wheat</td>
			</tr>
			<tr><td>Irukama</td>
			<td>Blaauw City</td>
			<td>Giant Irukama Snails</td>
			</tr>
			<tr><td>Jaradharre (Federation)</td>
			<td>Gohar Station (526,178ls)</td>
			<td>Jaradharre Puzzle Box</td>
			</tr>
			<tr><td>Jaroua</td>
			<td>Mccool City</td>
			<td>Jaroua Rice</td>
			</tr>
			<tr><td>Jotun (Independent)</td>
			<td>Icelock (80ls)</td>
			<td>Jotun Mookah</td>
			</tr>
			<tr><td>Kachirigin (Federation)</td>
			<td>Nowak Orbital (340ls)</td>
			<td>Kachirigin Filter Leeches</td>
			</tr>
			<tr><td>Kamitra</td>
			<td>Hammel Terminal</td>
			<td>Kamitra Cigars</td>
			</tr>
			<tr><td>Kamorin (Independent)</td>
			<td>Godwin Vision (445ls)</td>
			<td>Kamorin Historic Weapons</td>
			</tr>
			<tr><td>Kappa Fornacis (Independent)</td>
			<td>Harvestport (918ls)</td>
			<td>Onion Head</td>
			</tr>
			<tr><td>Karetii</td>
			<td>Sinclair Platform</td>
			<td>Karetii Couture</td>
			</tr>
			<tr><td>Karsuki Ti</td>
			<td>West Market (28ls)</td>
			<td>Karsuki Locusts</td>
			</tr>
			<tr><td>Kinago (Independent)</td>
			<td>Fozard Ring (1,723ls)</td>
			<td>Kinago Violins</td>
			</tr>
			<tr><td>Kongga (Federation)</td>
			<td>Laplace Ring (250ls)</td>
			<td>Kongga Ale</td>
			</tr>
			<tr><td>Korro Kung (Federation)</td>
			<td>Lonchakov Orbital (622,040ls)</td>
			<td>Koro Kung Pellets</td>
			</tr>
			<tr><td>Lave (Alliance)</td>
			<td>Lave Station (284ls)</td>
			<td>Lavian Brandy</td>
			</tr>
			<tr><td>LDS 883</td>
			<td>Smith Reserve (54480ls)</td>
			<td>Chameleon Cloth</td>
			</tr>
			<tr><td>Leesti (Alliance)</td>
			<td>George Lucas (261ls)</td>
			<td>Azure Milk</td>
			</tr>
			<tr><td>Leesti (Alliance)</td>
			<td>George Lucas (261ls)</td>
			<td>Leestian Evil Juice</td>
			</tr>
			<tr><td>LFT 1421</td>
			<td>Ehrlich Orbital (773,000ls)</td>
			<td>Void Extract Coffee</td>
			</tr>
			<tr><td>LHS 3447</td>
			<td>Bluford Orbital</td>
			<td>Galactic Travels Guides</td>
			</tr>
			<tr><td>LP 375-25 (Alliance)</td>
			<td>King Gateway (514,700ls)</td>
			<td>Honesty Pills</td>
			</tr>
			<tr><td>LTT 8517</td>
			<td>Euclid Terminal (~700,000ls)</td>
			<td>Non Euclidian Exotanks</td>
			</tr>
			<tr><td>LTT 9360 (Federation)</td>
			<td>Smeaton Orbital (1,872,590ls)</td>
			<td>Ltt Hyper Sweet</td>
			</tr>
			<tr><td>Mechucos (Fedration)</td>
			<td>Brandenstein Port (534,137ls)</td>
			<td>Mechucos High Tea</td>
			</tr>
			<tr><td>Medb</td>
			<td>Vela Dock (1,686,844ls)</td>
			<td>Medb Starlube</td>
			</tr>
			<tr><td>Mokojing</td>
			<td>Noli Terminal (539,400ls)</td>
			<td>Mokojing Beast Feast</td>
			</tr>
			<tr><td>Momus Reach</td>
			<td>Tartarus Point (420ls)</td>
			<td>Momus Bog Spaniel</td>
			</tr>
			<tr><td>Mukusubii (Independent)</td>
			<td>Ledyard Dock (505,430ls)</td>
			<td>Mukusubii Chitin-os</td>
			</tr>
			<tr><td>Mulachi</td>
			<td>Clark Terminal (690,000ls)</td>
			<td>Mulachi Giant Fungus</td>
			</tr>
			<tr><td>Neritus (Independent)</td>
			<td>Toll Ring (524ls)</td>
			<td>Neritus Berries</td>
			</tr>
			<tr><td>Ngadandari (Empire)</td>
			<td>Napier Terminal (502,357ls)</td>
			<td>Ngadandari Fire Opals</td>
			</tr>
			<tr><td>Nguna (Independent)</td>
			<td>Biggle Hub (1870ls)</td>
			<td>Nguna Modern Antiques</td>
			</tr>
			<tr><td>Ngurii</td>
			<td>Cheranovsky City (1265ls)</td>
			<td>Soontill Relics</td>
			</tr>
			<tr><td>Njambalba</td>
			<td></td>
			<td>Personal Gifts</td>
			</tr>
			<tr><td>Njangari</td>
			<td>Lee Hub</td>
			<td>Njangari Saddles</td>
			</tr>
			<tr><td>Noti</td>
			<td>Weber Gateway</td>
			<td>Master Chefs</td>
			</tr>
			<tr><td>Ochoeng (Independent)</td>
			<td>Roddenberry Gateway (484ls)</td>
			<td>Ochoeng Chillies</td>
			</tr>
			<tr><td>Orrere (Independent)</td>
			<td>Sharon Lee Free Market (961ls)</td>
			<td>Orrerian Vicious Brew</td>
			</tr>
			<tr><td>Phiagre (Independent)</td>
			<td>Greeboski's Outpost (85ls)</td>
			<td>Giant Verrix</td>
			</tr>
			<tr><td>Quechua</td>
			<td>Crown Ring (120ls)</td>
			<td>Albino Quechua Mammoth Meat</td>
			</tr>
			<tr><td>Rajukru (Federation)</td>
			<td>Snyder Terminal (117ls)</td>
			<td>Rajukru Multi-Stoves</td>
			</tr>
			<tr><td>Rapa Bao</td>
			<td>Flagg Gateway (2,338ls)</td>
			<td>Rapa Bao Snake Skins</td>
			</tr>
			<tr><td>Rusani</td>
			<td>Fernandes Market</td>
			<td>Rusani Old Smokey</td>
			</tr>
			<tr><td>Sanuma</td>
			<td>Dunyach Gateway (6,000ls)</td>
			<td>Sanuma Decorative Meat</td>
			</tr>
			<tr><td>Shinrarta Dezhra</td>
			<td>Jameson Memorial (346ls)</td>
			<td>Waters of Shintara</td>
			</tr>
			<tr><td>Sothis</td>
			<td>Newholm Station</td>
			<td>Sothis Crystalline Gold</td>
			</tr>
			<tr><td>Tanmark</td>
			<td>Cassie-L-Peia (414ls)</td>
			<td>Lucan Onion Head</td>
			</tr>
			<tr><td>Tanmark</td>
			<td>Cassie-L-Peia (414ls)</td>
			<td>Tanmark Tranquil Tea</td>
			</tr>
			<tr><td>Tarach Tor (Independent)</td>
			<td>Tranquillity (359ls)</td>
			<td>Tarach Spice</td>
			</tr>
			<tr><td>Terra Mater (Independent)</td>
			<td>Gr8minds (504LS)</td>
			<td>Terra Mater Blood Bores</td>
			</tr>
			<tr><td>Thrutis</td>
			<td>Kingsbury Dock (288ls)</td>
			<td>Thrutis Cream</td>
			</tr>
			<tr><td>Tiolce</td>
			<td>Gordon Terminal (158ls)</td>
			<td>Tiolce Waste 2 Paste</td>
			</tr>
			<tr><td>Toxandji (Independent)</td>
			<td>Tsunenaga Orbital (7,622ls)</td>
			<td>Toxandji Virocide</td>
			</tr>
			<tr><td>Uszaa (Independent)</td>
			<td>Guest Installation (4,350ls)</td>
			<td>Uszaian Tree Grub</td>
			</tr>
			<tr><td>Utgaroar</td>
			<td>Fort Klarix (171ls)</td>
			<td>Utgaroar Millennial Eggs</td>
			</tr>
			<tr><td>Uzumoku</td>
			<td>Sverdrup Ring (505,300ls)</td>
			<td>Uzumoku Low-G Wings</td>
			</tr>
			<tr><td>V1090 Herculis (Federation)</td>
			<td>Kaku Plant (1,233,592ls)</td>
			<td>Herculis Body Rub</td>
			</tr>
			<tr><td>Vanayequi (Independant)</td>
			<td>Clauss Hub</td>
			<td>Vanayequi Ceratomorpha Fur</td>
			</tr>
			<tr><td>Vega (Federal)</td>
			<td>Taylor City (1,100Ls)</td>
			<td>Vega Slimweed</td>
			</tr>
			<tr><td>Vidavanta (Federation)</td>
			<td>Lee Mines (556,882ls)</td>
			<td>Vidavantian Lace</td>
			</tr>
			<tr><td>Volkhab (Federation)</td>
			<td>Vernadsky Dock (408ls)</td>
			<td>Volkhab Bee Drones</td>
			</tr>
			<tr><td>Wheemete (Empire)</td>
			<td>Eisinga Enterprise (551,628ls)</td>
			<td>Wheemete Wheat Cakes</td>
			</tr>
			<tr><td>Witchhaul (Fedration)</td>
			<td>Hornby Terminal (219ls)</td>
			<td>Witchhaul Kobe Beef</td>
			</tr>
			<tr><td>Wulpa (Independent)</td>
			<td>Williams Gateway (28ls)</td>
			<td>Wulpa Hyperbore Systems</td>
			</tr>
			<tr><td>Wuthielo Ku (Empire)</td>
			<td>Tarter Dock</td>
			<td>Wuthielo Ku Froth</td>
			</tr>
			<tr><td>Xelabara</td>
			<td>Navigator Market</td>
			<td>Onionhead Alpha Strain</td>
			</tr>
			<tr><td>Xihe</td>
			<td>Zhen Dock (1941ls)</td>
			<td>Xihe Biomorphic Companions</td>
			</tr>
			<tr><td>Yaso Kondi (Empire)</td>
			<td>Wheeler Market</td>
			<td>Yaso Kondi Leaf</td>
			</tr>
			<tr><td>Zaonce (Alliance)</td>
			<td>Ridley Scott (390ls)</td>
			<td>Leathery Eggs</td>
			</tr>
			<tr><td>Zeessze (Federation)</td>
			<td>Nicollier Hanger (489ls)</td>
			<td>Zeessze Ant Grub Glue</td>
			</tr>
</tbody></table></div>


{% endblock %}