{% extends "base.html" %}

{% block title %}
    News
{% endblock %}

{% block content %}
<style type="text/css">
	* {
	    box-sizing: border-box;
	}

	/* The actual timeline (the vertical ruler) */
	.timeline {
	    position: relative;
	    max-width: 1200px;
	    margin: 0 auto;
	    margin-top: 50px;
	}

	/* The actual timeline (the vertical ruler) */
	.timeline::after {
	    content: '';
	    position: absolute;
	    width: 6px;
	    background-color: #ff7100;
	    top: 0;
	    bottom: 0;
	    left: 50%;
	    margin-left: -3px;
	}

	/* Container around content */
	.newscontainer {
	    padding: 10px 40px;
	    position: relative;
	    background-color: inherit;
	    width: 50%;
	}

	/* The circles on the timeline */
	.newscontainer::after {
	    content: '';
	    position: absolute;
	    width: 24px;
	    height: 24px;
	    right: -12px;
	    background-color: #111111;
	    border: 4px solid #ff7100;
	    top: 15px;
	    border-radius: 50%;
	    z-index: 1;
	}

	/* Place the container to the left */
	.left {
	    left: 0%;
	}

	/* Place the container to the right */
	.right {
	    left: 50%;
	}

	/* Add arrows to the left container (pointing right) */
	.left::before {
	    content: " ";
	    height: 0;
	    position: absolute;
	    top: 18px;
	    width: 0;
	    z-index: 1;
	    right: 30px;
	    border: medium solid #ff7100;
	    border-width: 10px 0 10px 10px;
	    border-color: transparent transparent transparent #ff7100;
	}

	/* Add arrows to the right container (pointing left) */
	.right::before {
	    content: " ";
	    height: 0;
	    position: absolute;
	    top: 18px;
	    width: 0;
	    z-index: 1;
	    left: 30px;
	    border: medium solid #ff7100;
	    border-width: 10px 10px 10px 0;
	    border-color: transparent #ff7100 transparent transparent;
	}

	/* Fix the circle for containers on the right side */
	.right::after {
	    left: -12px;
	}

	/* The actual content */
	.newscontent {
	    padding: 20px 20px;
	    background-color: #2b0802;
	    position: relative;
	    border-radius: 6px;
	    border-width: 2px;
	    border: medium solid #ff7100;
	}

	/* Media queries - Responsive timeline on screens less than 600px wide */
	@media screen and (max-width: 600px) {
	  /* Place the timelime to the left */
	  .timeline::after {
	    left: 27px;
	  }
	  
	  /* Full-width containers */
	  .newscontainer {
	    width: 100%;
	    padding-left: 70px;
	    padding-right: 25px;
	  }
	  
	  /* Make sure that all arrows are pointing leftwards */
	  .newscontainer::before {
	    left: 60px;
	    border: medium solid #ff7100;
	    border-width: 10px 10px 10px 0;
	    border-color: transparent #ff7100 transparent transparent;
	  }

	  /* Make sure all circles are at the same spot */
	  .left::after, .right::after {
	    left: 15px;
	  }
	  
	  /* Make all right containers behave like the left ones */
	  .right {
	    left: 0%;
	  }
	}

	.fa-check {
		color: #62c462;
		margin-right: 5px;
	}

	.fa-ellipsis-h {
		color: #f2c86e;
		margin-right: 5px;
	}

	.fa-times {
		color: #c12323;
		margin-right: 5px;
		margin-left: 3px;
	}

</style>

<div class="title-container">
    <div class="title-grad"></div>
    	<h1 class="h1-std">News Timeline</h1>
    	<h2 class="h2-std">Catch up with the latest developments on the expedition</h2>
    </div>

<div class="progress" style="background-color: #111; height: 25px; margin-bottom: 30px;">
<div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color: #62c462; width: 38%; color: #000; font-family: Telegrama;">Preparation: 38%</div>
</div>

<div class="card bg-dark" style="border-color: #ff7100; margin-top: 10px; margin-bottom: 25px;">
	<div class="card-header" style="background-color: #2b0802;"><span style="color: #f2c86e; font-family: Telegrama;">Unsanctionned items list in no particular order</span></div>
	<div class="card-body">
		<div class="row">
		<div class="col-md-4">
		<ul class="ul-std" style="list-style: none; margin: 0; padding: 0; font-size: 0.8em;">
			<li class="li-std"><i class="fas fa-check"></i>  Get an org team on board</li>
			<li class="li-std"><i class="fas fa-check"></i>  Post an early thread</li>
			<li class="li-std"><i class="fas fa-check"></i>  Gauge interest</li>
			<li class="li-std"><i class="fas fa-check"></i>  Propose a Community Goal</li>
			<li class="li-std"><i class="fas fa-check"></i>  Get Frontier's attention</li>
			<li class="li-std"><i class="fas fa-check"></i>  Create a logo</li>
			<li class="li-std"><i class="fas fa-check"></i>  Set up the registration process</li>
			<li class="li-std"><i class="fas fa-check"></i>  Open the Roster</li>
			<li class="li-std"><i class="fas fa-check"></i>  Create ads</li>
			<li class="li-std"><i class="fas fa-check"></i>  Publish ads</li>
			<li class="li-std"><i class="fas fa-check"></i>  Set up org server</li>
			<li class="li-std"><i class="fas fa-check"></i>  Create imagery</li>
			<li class="li-std"><i class="fas fa-check"></i>  Set up Showcase batch process</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Find waypoint POIs</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate waypoints</li>
			<li class="li-std"><i class="fas fa-times"></i>  Find basecamps</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate basecamps</li>
			<li class="li-std"><i class="fas fa-check"></i>  Create roles</li>
			<li class="li-std"><i class="fas fa-check"></i>  Create roles imagery</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Coordinate with MWSOG for Geology</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Coordinate with GMP for galactic mapping</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Coordinate with Rock Rats for prospecting</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up exhaustive data recording process</li>
			<li class="li-std"><i class="fas fa-check"></i>  Obtain Obsidian Ant promotion</li>
			<li class="li-std"><i class="fas fa-check"></i>  Select broad return route</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate return route waypoints</li>
			<li class="li-std"><i class="fas fa-times"></i>  Find return route basecamps</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate return route basecamps</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate expedition timeline</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Choose and validate basecamp meetups events</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Fill vacant meetups reps positions</li>
		</ul>
		</div>
		<div class="col-md-4">
		<ul class="ul-std" style="list-style: none; margin: 0; padding: 0; font-size: 0.8em;">
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Find non-Euro TZ reps</li>
			<li class="li-std"><i class="fas fa-check"></i>  Coordinate with Grnbrg for security</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up console official PGs</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Prepare Legacy Campaign</li>
			<li class="li-std"><i class="fas fa-times"></i>  Launch Legacy Campaign</li>
			<li class="li-std"><i class="fas fa-check"></i>  Prepare Fleet Logistics</li>
			<li class="li-std"><i class="fas fa-check"></i>  Get Logistics underway</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Get all rares ready for the trip</li>
			<li class="li-std"><i class="fas fa-times"></i>  Get Sagittarius Eye coverage</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Coordinate with Kola2 for tourism</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Set up the EDRPG Campaign</li>
			<li class="li-std"><i class="fas fa-times"></i>  Launch the EDRPG Campaign</li>
			<li class="li-std"><i class="fas fa-times"></i>  Open DW2 page on EDSM</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with Anthor for website</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with Anthor for web stuff</li>
			<li class="li-std"><i class="fas fa-times"></i>  Create DW2 Voice Attack profile</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate DW2 Buckyball proposal</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate fleet launch practice runs</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Set up Discord infrastructure</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up Facebook</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up Twitter</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up Reddit</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with Colonia?</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Coordinate with MediCorp for rescue role</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Set up Photo Gallery submit process</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Set up Photo Gallery host</li>
			<li class="li-std"><i class="fas fa-check"></i>  Set up statistics spreadsheet</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate contest ideas</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up weekly photo contest</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with AspinLine for RL crests</li>
			<li class="li-std"><i class="fas fa-times"></i	>  Fix pricepoint for patches</li>
		</ul>
		</div>
		<div class="col-md-4">
		<ul class="ul-std" style="list-style: none; margin: 0; padding: 0; font-size: 0.8em;">
			<li class="li-std"><i class="fas fa-times"></i>  Validate contest prizes</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Set up DW2 website</li>
			<li class="li-std"><i class="fas fa-times"></i>  Bug-proof website</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate DW2 website hosting</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate RATs proposal</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate Mass Mining Event</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with Frontier ref. IP</li>
			<li class="li-std"><i class="fas fa-times"></i>  List YT coverage channels</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up official livestream</li>
			<li class="li-std"><i class="fas fa-times"></i>  Create whole fleet mass jump 3D animation</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Create DW2 animated logo</li>
			<li class="li-std"><i class="fas fa-times"></i>  Set up creative contest</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Explore merch ideas</li>
			<li class="li-std"><i class="fas fa-times"></i>  Find commemmorative coins supplier</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with Radio Sidewinder/Lave Radio</li>
			<li class="li-std"><i class="fas fa-times"></i>  Validate DW2 biweekly podcast</li>
			<li class="li-std"><i class="fas fa-times"></i>  Coordinate with FD for possible in-game decal</li>
			<li class="li-std"><i class="fas fa-times"></i>  List of livestreams guest speakers</li>
			<li class="li-std"><i class="fas fa-times"></i>  Create video trailer</li>
			<li class="li-std"><i class="fas fa-ellipsis-h"></i>  Break Frontier's servers</li>
			<li class="li-std"><i class="fas fa-times"></i>  Prepare full fleet 3D animation</li>
		</ul>
		</div>
		</div>
		</div>
</div>

<div class="timeline">
  <div class="newscontainer left">
    <div class="newscontent">
      <h5 class="h5-std">3304 Apr. 25th</h5>
      <p class="p-std">The Roster reaches 2,500 signups.</p>
    </div>
  </div>
  <div class="newscontainer right">
    <div class="newscontent">
      <h5 class="h5-std">3304 Apr. 1st</h5>
      <p class="p-std">The <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/419924-DW2-Distant-Worlds-II-Waypoint-Scouting-Event">Waypoints Scouting Event</a> is now open, until Sept. 1st. Anyone can submit POIs to dot the route outbound to Beagle Point. It is, however, likely that with the announced new phenomena coming in Q4, part of the Waypoints will change.</p>
    </div>
  </div>
  <div class="newscontainer left">
    <div class="newscontent">
      <h5 class="h5-std">3304 Feb. 8th</h5>
      <p class="p-std">In a <a class="a-std" href="https://www.youtube.com/watch?v=t1UHx5MbejE&t=3209s">Beta Q&A livestream</a>, Sandro Sammarco reveals that Frontier will be officially supporting Distant Worlds 2. While this statement says nothing specifically, it is a very positive step forward into making DW2 special and rich with activities and purpose.</p>
    </div>
  </div>
  <div class="newscontainer right">
    <div class="newscontent">
      <h5 class="h5-std">3304 Feb. 1st</h5>
      <p class="p-std">The highly anticipated <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/404790-DW2-Distant-Worlds-II-Fleet-Roster-Sign-Up-Thread">DW2 Fleet Roster Sign-Up Thread</a> is published. The Roster registers 2,000 signups in just 2 weeks.</p>
    </div>
  </div>
  <div class="newscontainer left">
    <div class="newscontent">
      <h5 class="h5-std">3304 Jan. 14th</h5>
      <p class="p-std">CMDR Erimus publishes <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/399804-Distant-Worlds-II-Some-ideas-on-getting-the-most-out-of-the-upcoming-content">gameplay ideas and a CG Proposal</a> to spark the discussion about possible upcoming gameplay changes in Q4 and get Frontier's interest in supporting the endeavour.</p>
    </div>
  </div>
  <div class="newscontainer right">
    <div class="newscontent">
      <h5 class="h5-std">3303 Oct. 9th</h5>
      <p class="p-std">CMDR Erimus publishes an <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/383440-Distant-Worlds-II-Early-Announcement">Early Annoucement</a> forum thread to present a rough project and gauge interest.</p>
    </div>
  </div>
</div>
{% endblock %}