{% extends "base.html" %}

{% block title %}
    Private Groups
{% endblock %}

{% block content %}
<div class="title-container">
  <div class="title-grad"></div>
  <h1 class="h1-std">Official Private Groups</h1>
  <h2 class="h2-std">In-Game Private Groups regulations and contact info</h2></div>
<br>
<!--<p class="p-std warning">Nota Bene: We do not have official console private groups as of yet. Information on official console private groups will be posted at a later date. Stay tuned! If you have any questions regarding console PGs, please <a class="a-std" href="internal link">contact</a> our console reps.</p><br>-->
<p class="p-std">The Distant Worlds 2 Organisation Team is offering one in-game private group per platform (except Mac) where explorers can travel and interact safely. Strong regulations are enforced and will not bend to any exception. Please make sure you read and understand the rules so that everyone's journey and the basecamp meetups will be safe and enjoyable. To send a Join Request to a private group in-game, from the game menu, select <em>Friends and Private Groups</em>, then the <em>Groups</em> tab, then click <em>Search groups</em>, enter the name of the private group, and finally click <em>Request Join</em>.</p>
<br>
<h3 class="h3-std">Official Private Groups Regulations</h3>
  <br>
  <p class="p-std">The rules of the official Private Groups are as follows, and all members are expected to follow them:
  <ul class="ul-std">
    <li class="li-std"><h4 class="h4-std" style="color: #fff;">RULE 1:</h4><span class="warning">Commanders are not permitted to cause the destruction of another Commander's ship</span></li><br>
    <li class="li-std"><h4 class="h4-std" style="color: #fff;">RULE 2:</h4><span class="warning">Any aggressive activity (which must not violate Rule 1) must be by mutual consent of all parties involved.</span></li><br>
    <li class="li-std"><h4 class="h4-std" style="color: #fff;">RULE 3:</h4><span class="warning">Restrict speed and stow hardpoints while within 2 kilometres (including altitude) of any published waypoint, landing zone, base camp, or any gathering of 4 or more ships.</span></li></ul></p><br>
  <p class="p-std">Violation of Rule 1 will result in an immediate ejection and permanent ban from the group, whether deliberate or accidental. Violation of Rules 2 or 3 may result in either temporary or permanent bans, at the sole discretion of the group admins. Rule 1 is self evident. Rule 2 is intended to allow races and other games and events within the group. Note that both hull damage and SRV destruction are permitted under Rule 2, but ship destruction is <em>not</em>. Rule 3 is intended to ensure that gatherings are safe. There have been very few incidents in the history of the Kamzel private group, and (to my knowledge) no incidents where a Commander deliberately attacked another. However, there have been incidents where Commanders at published landing zones have incurred significant hull damage because another commander had an "accident". Fly safe. Check your speed, not your credit balance.</p>
  <p class="p-std">The official private groups are open to all commanders. As long as they are willing to follow the posted rules, their behaviour in Open mode does not enter into consideration. We have a list of commanders who will be scrutinized and likely interviewed before their membership is (or is not) granted. We have a smaller list of commanders who have been confirmed to have invaded PvE groups in the past. <em>Those</em> commanders will not be admitted. There will be no exception.</p>
  <br>
<h3 class="h3-std">Applying To A Private Group</h3>
  <br>

  <div class="container" style="margin: 5px 0 35px 0;">
    <div class="row justify-content-center no-gutters">
      <div class="col">
        <div class="card text-white bg-dark mx-auto" style="width: 21.5rem; border-color: #ff7100; margin: 5px;">
          <div class="card-body">
		        <p class="card-text p-std" style="text-align: center; font-size: 2em;">PC</p></div>
  	      <ul class="list-group list-group-flush ul-std" style="text-align: center;">
            <li class="list-group-item li-std"><span style="font-size: 0.8em;">Name of the private group:</span><br><span class="warning" style="font-size: 1.2em;">FLEETCOMM</span></li>
            <li class="list-group-item li-std"><span style="font-size: 0.8em;">Owner: </span><br><span style="font-size: 1.2em;">Grnbrg</span></li></ul>
          <div class="card-body">
            <p class="card-text p-std">You need to complete the following two steps:<br><br>&bull; Fill the <a class="a-std" href="https://goo.gl/forms/P1x2bMRciVIB70Ah1">application form</a>.<br>&bull; Send a Join Request in-game.</p>
            <p class="p-std">If you were previously a member of Kamzel, you are automatically now a member of FleetComm. There is no way for us to enforce it, but we would request that you fill in the <a class="a-std" href="https://goo.gl/forms/P1x2bMRciVIB70Ah1">application form</a> new members are required to.</p>
            </div>
          <div class="card-body">
            <a class="card-link p-std a-std" href="https://forums.frontier.co.uk/showthread.php/285918-Announcing-FleetComm-the-exploration-focused-Private-(pc)-Group">Forum thread</a>
            </div>
          </div>
        </div>
      
      <div class="col">
        <div class="card text-white bg-dark mx-auto" style="width: 21.5rem; border-color: #ff7100; margin: 5px;">
          <div class="card-body">
            <p class="card-text p-std" style="text-align: center; font-size: 2em; color: #003791;">PlayStation 4</p></div>
          <ul class="list-group list-group-flush ul-std" style="text-align: center;">
            <li class="list-group-item li-std"><span style="font-size: 0.8em;">Name of the private group:</span><br><span class="warning" style="font-size: 1.2em;">ALLCROWSAREBLACK</span></li>
            <li class="list-group-item li-std"><span style="font-size: 0.8em;">Owner: </span><br><span style="font-size: 1.2em;">Allcrowsareblack</span></li></ul>
          <div class="card-body">
            <p class="card-text p-std">Anyone wishing to join needs to send Allcrowsareblack a Friend Request on PlayStation Network (PSN) including a message that they are interested in DW2. Owner won’t accept Close Friend Requests. On receipt owner will sent an invitation to the PG and add the player to the Chat group (Crow’s ED Chat).</p>
            <p class="p-std">The PlayStation Community is called ‘Distant Worlds 2’. It is tagged Elite Dangerous and is open access, anyone can join, and it can be found by searching Communities.</p>
            </div>
          <div class="card-body">
            <a class="card-link p-std a-std" href="https://forums.frontier.co.uk/showthread.php/404805-DW2-PS-Edition?highlight=DW2+ps+edition" class="card-link">Forum thread</a>
            </div>
          </div>
        </div>

      <div class="col">
        <div class="card text-white bg-dark mx-auto" style="width: 21.5rem; border-color: #ff7100; margin: 5px;">
          <div class="card-body">
            <p class="card-text p-std" style="text-align: center; font-size: 2em; color: #107c10;">XBox One</p></div>
          <ul class="list-group list-group-flush ul-std" style="text-align: center;">
            <li class="list-group-item li-std"><span style="font-size: 0.8em;">Name of the private group:</span><br><span class="warning" style="font-size: 1.2em;">DELL TARRANT</span></li>
            <li class="list-group-item li-std"><span style="font-size: 0.8em;">Owner: </span><br><span style="font-size: 1.2em;">Dell Tarrant</span></li></ul>
          <div class="card-body">
            <p class="card-text p-std">[Instructions missing]</p></div>
          <div class="card-body">
            <a class="card-link p-std a-std" href="#" class="card-link">Card link</a></div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}