{% extends "base.html" %}

{% load static %}
{% block javascript %}
<script src="{% static 'js/table-styler.js' %}"></script>
{% endblock %}

{% block title %}
    Roster
{% endblock %}

{% block content %}
    <h1 class="mt-5 mb-4">distant worlds 2 roster</h1>
    <p>last modified: {{ timestamp }}</p>
    <table id="roster" class="table" style="width:100%">
        <thead>
        <tr>
            <th>Roster #</th>
            <th>Commander</th>
            <th>Comms ID</th>
            <th>Ship Type</th>
            <th>Ship Name</th>
            <th>Jump Range</th>
            <th>Paintjob</th>
            <th>Primary Role</th>
            <th>Secondary Role</th>
            <th>DWE 3302 Veteran</th>
            <th>Visited Beagle Point</th>
            <th>Platform</th>
        </tr>
        </thead>
        <tbody>
        {% for cmdr in commanders %}
            <tr class=" {% if cmdr.staff %}dwe-staff{% endif %}">
                {# todo: change data printing to use ajax instead of pure html #}
                <td>{{ cmdr.roster_num }}</td>
                <td>{{ cmdr.cmdr_name }}</td>
                <td>{{ cmdr.comms_id|default_if_none:"" }}</td>
                <td>{{ cmdr.get_ship_model_display }}</td>
                <td>{{ cmdr.ship_name|default_if_none:"" }}</td>
                <td>{{ cmdr.ship_range }}</td>
                <td>{{ cmdr.livery }}</td>
                <td>{{ cmdr.get_role1_display }}</td>
                <td>{{ cmdr.get_role2_display|default_if_none:"" }}</td>
                <td>{{ cmdr.dwe_veteran }}</td>
                <td>{{ cmdr.visited_beagle_point }}</td>
                <td>{{ cmdr.get_platform_display }}</td>
            </tr>
        {% endfor %}
        {# todo: https://datatables.net/examples/api/multi_filter.html #}
        {# todo: https://datatables.net/examples/api/multi_filter_select.html #}
        </tbody>
        <tfoot>
        <tr>
            <th>Roster #</th>
            <th>Commander</th>
            <th>Comms ID</th>
            <th>Ship Type</th>
            <th>Ship Name</th>
            <th>Jump Range</th>
            <th>Paintjob</th>
            <th>Primary Role</th>
            <th>Secondary Role</th>
            <th>DWE 3302 Veteran</th>
            <th>Visited Beagle Point</th>
            <th>Platform</th>
        </tr>
        </tfoot>
    </table>

    <script>
        $(document).ready(function () {
            $('#roster').DataTable(/*{
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            }*/);
        });
    </script>

{% endblock %}