{% extends "base.html" %}

{% block title %}
    Scouting Event
{% endblock %}

{% block content %}
<div class="title-container">
  <div class="title-grad"></div>
<h1 class="h1-std">Waypoint Scouting Event</h1>
<h2 class="h2-std">This is where we all look for our future pit stops</h2></div>
<div class="row"><p class="ext-link"><a class="a-std" href="https://forums.frontier.co.uk/showthread.php/419924-DW2-Distant-Worlds-II-Waypoint-Scouting-Event">> Forum thread</a></p></div><br>
<h3 class="h3-std">DW2 Waypoint Scouting Event - Now Open</h3>
<br>
<p class="p-std">The Distant Worlds II scouting event is now open and will end on <span class="highlight">September 1st 3304</span>. The event is inclusive to all, whether or not you're taking part in the Distant Worlds II Expedition (scheduled for Q4 2018).</p>
<p class="p-std">This event is primarily aimed at lone-wolf explorers to take part in, or individuals taking part in non-DW2 related expeditions currently out in the regions of interest. If you've already returned from a deep space excursion and have POIs you've discovered in the areas of interest, feel free to post them to this thread too. The DW2 organisation team kindly ask that players or groups to please refrain from setting up <em>specific expeditions</em> for the DW2 scouting missions, as we do not want to confuse this particular event with the main DW2 fleet event coming later this year.</p>
<p class="p-std">Please also note that DW2 will have a set number of official waypoints, and among those will be included several of the DW1 waypoints (eg. Sag A* and Beagle Point). Therefore out of all the submissions posted to this thread, only about 15-20 will be incorporated into DW2. That means that many submissions (no matter how good they are) will not be used. We will however try and incorporate some of the rejected submissions into optional itinerary excursions for fleet members to visit during the main event later this year. In September Dr Kaii and Erimus will choose the official basecamps and major DW2 waypoints from the submissions entered, and the best of the rest will be added to <a class="a-std" href="https://www.edsm.net/en/galactic-mapping#2/0/0/25000">EDSM</a> by the <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/116450-Information-The-Galactic-Mapping-Project-amp-Expedition-Hub">Galactic Mapping Team</a>.</p>
<br>
<h3 class="h3-std">What We Need</h3>
<br>
<p class="p-std">Interesting stellar, planetary, or geological points of interest (POIs) located within the regions linked below, and close to or along the route line on the map below.</p>
<p class="p-std">When <span class="highlight">posting a submission to the <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/419924-DW2-Distant-Worlds-II-Waypoint-Scouting-Event">dedicated thread</a></span> you need to provide the following information in the following format:</p>
<ul class="ul-std"><li class="li-std">Your CMDR Name</li>
  <li class="li-std">Your DW2 Fleet Roster Number (if you're part of the fleet; found <a class="a-std" href="https://forums.frontier.co.uk/showthread.php/404790-DW2-Distant-Worlds-II-Fleet-Roster-Sign-Up-Thread?p=6374488&viewfull=1#post6374488">here</a>)</li>
</ul>

<div class="card bg-dark border-danger" style="margin-top: 10px; margin-bottom: 25px; width: 75%; margin-left: auto; margin-right: auto;">
  <div class="card-header" style="background-color: #c12323;"><span style="color: #fff; font-family: Telegrama;">Put ALL of the following in spoilers</span></div>
  <div class="card-body"><p class="p-std">If submitting an interesting waypoint POI:</p>
    <ul class="ul-std"><li class="li-std">The exact system name of your POI submission</li>
      <li class="li-std">Planetary body reference (if relevant)</li>
      <li class="li-std">A minimum of 2 screenshots of your POI (inc. one of the system map)</li>
      <li class="li-std">Write a short description of your POI</li></ul><br>
    <p class="p-std">If submitting a potential basecamp location:</p>
    <ul class="ul-std"><li class="li-std">System name</li>
      <li class="li-std">Planetary Body</li>
      <li class="li-std">Surface Location Coords</li>
      <li class="li-std">Gravity</li>
      <li class="li-std">Include a Landing Guide (<a class="a-std" href="https://imgur.com/a/Kust7">see this example</a>)</li>
      <li class="li-std">One or two screenshots from the surface location</li></ul>
    </div>
  <div class="card-footer" style="background-color: #c12323;"><span style="color: #fff; font-family: Telegrama;">Put ALL of the above in spoilers</span></div>
</div>

<ul class="ul-std"><li class="li-std">Also remember to name your POI. The GMP team will vette names and reserve the right to rename submissions.</li>
<li class="li-std">If you want first discovery tags on your entry, delay submitting your entry to this thread until after you've sold your exploration data!</li>
<li class="li-std">Alternatively, if you want to submit your locations privately without divulging their whereabouts to the wider community at the moment, feel free to PM them to <a class="a-std" href="https://forums.frontier.co.uk/private.php?do=newpm&u=26962">Erimus Kamzel</a>.</li></ul>
<br>
<h3 class="h3-std">POIs That Are Of Particular Interest</h3>
<br>
<h4 class="h4-std">For basecamp locations, ideally...</h4>
<ul class="ul-std"><li class="li-std">Worlds within or close to nebulae</li>
<li class="li-std">Planetary Nebula systems</li>
<li class="li-std">Black Hole or Neutron Star systems with interesting planetary bodies (the closer to the black hole or neutron star the better - preferably tidally locked worlds)</li>
<li class="li-std">Giant Stars or Super Giants with close orbiting worlds</li>
<li class="li-std">Potato (or Plutonian) Worlds</li>
<li class="li-std">Ice Worlds with striking features</li>
<li class="li-std">Geologically active locations (geysers or fumarole sites)</li>
<li class="li-std">Tidally locked worlds with stunning background vistas (i.e. nearby gas giants, trojan worlds, interesting skyboxes etc).</li></ul>
<br>
<p class="p-std warning">Note that once the Q4 geological upgrades are introduced, chosen basecamps may be subject to change if more interesting locations are generated.</p>
<h4 class="h4-std">For interesting mining operation locations (should the <a class="a-std" href="internal link">CG or megaship refueling proposal</a> be accepted by FD)...</h4>
<ul class="ul-std"><li class="li-std">Ringed Neutron Stars</li>
<li class="li-std">Ringed Earth-Like Worlds</li>
<li class="li-std">Ringed Stars or Proto-Stars</li>
<li class="li-std">Worlds with perpetually illuminated ring systems</li>
<li class="li-std">Any other interesting or unusual mining locations</li>
<li class="li-std">Or systems containing both metallic-based and ice-based ring systems</li></ul>
<br>
<h3 class="h3-std">Regions Through Which The Distant Worlds II Expedition Will Travel...</h3>
<br>
<div class="row" style="width:75%; margin-left: auto; margin-right: auto;"">
<div class="col-md-6">
<div class="card card-std" style="width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 25px;">
    <ul class="list-group list-group-flush ul-std">  
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/-3280/0/9620">The Sagittari Conflux</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/5320/0/14900">The Norma Expanse</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#6/-250/0/15140">The Sidereal Wall</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/3380/0/23700">The Near 3kpc Spiral Arm</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/-360/0/25280">The Galactic Core</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#6/730/0/36190">Perseus Stem</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#6/1430/0/45370">Styx</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/9360/0/47260">The Bleak Lands</a></li>
    </ul>
</div>
</div>
<div class="col-md-6">
<div class="card card-std" style="width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 25px;">
  <ul class="list-group list-group-flush ul-std">
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/-2320/0/56180">The Galactic Aphelion</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/-8420/0/63240">The Abyss</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/3660/0/63600">The Solitude Void</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/18480/0/57400">Silentium</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#6/17350/0/48600">The Tyros Ridge</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#5/18960/0/32800">The Ascendance</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#6/14610/0/32310">The Torment</a></li>
      <li class="list-group-item li-std"><a class="a-std" href="https://www.edsm.net/en/galactic-mapping#6/6560/0/20070">The Gallipolis</a></li>
  </ul>
</div>
</div>
</div>
<br>
<h3 class="h3-std">Overview Map</h3>
<br>
<img class="img-std content-img" src="https://i.imgur.com/9LskGi2.png">
<p class="p-std">Scouting for DW2 will follow the exact same process I used when scouting for DW1 - effectively tracing a draft route across the galaxy, and trying to stick within two thousand light year 'corridors' either side of the intended route. This will give scouts a set of narrowed down areas of interest to explore to keep things from deviating too far and wide from the intended path. Use these highlighted 'corridors' on the regional maps in spoilers below as your scouting location guides. Use the linked regional headers to bring up the EDSM map - these may come in handy for pinpointing previously mapped POIs to use as reference guides when out in the black.</p>
<p class="p-std">Ideally your submitted locations should be within the green highlighted regions - but if you know of or locate exceptional POIs beyond those areas, please also submit those too.</p>

<p style="font-size: 2em; color: #c12323; text-align: center; padding-bottom: 50px; margin-left: 100px; margin-right: 100px;">All submissions need to be posted on the forum thread before September 1st 3304</p>

<ul class="nav nav-pills ul-std justify-content-center" id="RegionsTab" role="tablist" style="margin-top: 25px; width: 80%; margin-left: auto; margin-right: auto; border: none;">
  <li class="scout-nav-item">
    <a class="a-scout" id="1-tab" data-toggle="tab" href="#1" role="tab" aria-controls="1" aria-selected="true">Sagittari Conflux</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="2-tab" data-toggle="tab" href="#2" role="tab" aria-controls="2" aria-selected="false">Sidereal Wall</a>
  </li>
  <li class="scout-nav-item" tabindex="3">
    <a class="a-scout" id="3-tab" data-toggle="tab" href="#3" role="tab" aria-controls="3" aria-selected="false">Galactic Core</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="4-tab" data-toggle="tab" href="#4" role="tab" aria-controls="4" aria-selected="false">Perseus Stem</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="5-tab" data-toggle="tab" href="#5" role="tab" aria-controls="5" aria-selected="false">Bleak Lands</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="6-tab" data-toggle="tab" href="#6" role="tab" aria-controls="6" aria-selected="false">Galactic Aphelion</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="7-tab" data-toggle="tab" href="#7" role="tab" aria-controls="7" aria-selected="false">Abyss</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="8-tab" data-toggle="tab" href="#8" role="tab" aria-controls="8" aria-selected="false">Solitude Void</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="9-tab" data-toggle="tab" href="#9" role="tab" aria-controls="9" aria-selected="false">Silentium</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="10-tab" data-toggle="tab" href="#10" role="tab" aria-controls="10" aria-selected="false">Tyros Ridge</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="11-tab" data-toggle="tab" href="#11" role="tab" aria-controls="11" aria-selected="false">Ascendance</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="12-tab" data-toggle="tab" href="#12" role="tab" aria-controls="12" aria-selected="false">Gallipolis</a>
  </li>
  <li class="scout-nav-item">
    <a class="a-scout" id="13-tab" data-toggle="tab" href="#13" role="tab" aria-controls="13" aria-selected="false">Norma Expanse</a>
  </li>
</ul>

<div class="tab-content" id="RegionsTabContent" style="margin-bottom: 25px;">
  <div class="tab-pane fade show active" id="1" role="tabpanel" aria-labelledby="1-tab"><img class="img-std content-img" src="https://i.imgur.com/qCefGT1.jpg"></div>
  <div class="tab-pane fade" id="2" role="tabpanel" aria-labelledby="2-tab"><img class="img-std content-img" src="https://i.imgur.com/Xlw8fdp.jpg"></div>
  <div class="tab-pane fade" id="3" role="tabpanel" aria-labelledby="3-tab"><img class="img-std content-img" src="https://i.imgur.com/6k1bTPh.jpg"></div>
  <div class="tab-pane fade" id="4" role="tabpanel" aria-labelledby="4-tab"><img class="img-std content-img" src="https://i.imgur.com/0XmgknM.jpg"></div>
  <div class="tab-pane fade" id="5" role="tabpanel" aria-labelledby="5-tab"><img class="img-std content-img" src="https://i.imgur.com/obswcNY.jpg"></div>
  <div class="tab-pane fade" id="6" role="tabpanel" aria-labelledby="6-tab"><img class="img-std content-img" src="https://i.imgur.com/FLOqWWT.jpg"></div>
  <div class="tab-pane fade" id="7" role="tabpanel" aria-labelledby="7-tab"><img class="img-std content-img" src="https://i.imgur.com/BgoHaDQ.jpg"></div>
  <div class="tab-pane fade" id="8" role="tabpanel" aria-labelledby="8-tab"><img class="img-std content-img" src="https://i.imgur.com/6OYqmDk.jpg"></div>
  <div class="tab-pane fade" id="9" role="tabpanel" aria-labelledby="9-tab"><img class="img-std content-img" src="https://i.imgur.com/psPy8YU.jpg"></div>
  <div class="tab-pane fade" id="10" role="tabpanel" aria-labelledby="10-tab"><img class="img-std content-img" src="https://i.imgur.com/ofKEP1F.jpg"></div>
  <div class="tab-pane fade" id="11" role="tabpanel" aria-labelledby="11-tab"><img class="img-std content-img" src="https://i.imgur.com/Zr7bEIp.jpg"></div>
  <div class="tab-pane fade" id="12" role="tabpanel" aria-labelledby="12-tab"><img class="img-std content-img" src="https://i.imgur.com/fgt86uB.jpg"></div>
  <div class="tab-pane fade" id="13" role="tabpanel" aria-labelledby="13-tab"><img class="img-std content-img" src="https://i.imgur.com/Udf4lr3.jpg"></div>
</div>

{% endblock %}