	html {
	position: relative;
	min-height: 100%;
	}

	body {
	margin-bottom: 145px; /* Margin bottom by footer height */
	}

	.p-std {
		color: white;
		text-align: justify;
		font-family: Sintony, sans serif;
	}

	.li-std {
		color: white;
		text-align: justify;
		font-family: inherit;
	}


	.ul-std {
		color: white;
		text-align: justify;
		font-family: Sintony;
	}

	.ol-std {
		color: white;
		text-align: justify;
		font-family: Sintony;
	}

	.h1-std {
		font-family: Eurostile;
		font-weight: bold;
		font-size: 3em;
		color: #fff;
		text-transform: uppercase;
		padding-left: 30px;
	}

	.h2-std {
		font-family: Eurostile;
		font-weight: bold;
		font-size: 2em;
		color: #fff;
		opacity: 0.8;
		padding-left: 30px;
	}

	.h3-std {
		font-family: Eurostile;
		font-size: 1.5em;
		color: #ff7100;
		padding-left: 10px;
	}

	.h4-std {
		font-family: Eurostile;
		font-size: 1.3em;
		color: #f2c86e;
		padding-left: 10px;
	}

	.h5-std {
		font-family: Telegrama;
		font-style: Render;
		font-size: 1.2em;
		color: #f2c86e;
		padding-left: 10px;
	}

	.img-std {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	.a-std {
		color: #ff7100;
	}

	.a-std:hover {
		color: #f2c86e;
	}

	.content-img {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.highlight {
		color: #f2c86e;
	}

	.highlight2 {
		color: #3dabb8;
	}

	.warning {
		color: #c12323;
	}

	.title-container {
		display: block;
		background-color: #ff7100;
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	.title-grad {
		height: 25px;
		background-color: #ff7100;
		background: linear-gradient(to bottom,rgba(255,28,0,0.3),rgba(255,28,0,0));
	}

	.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 50px;
	height: 95px; /* Set the fixed height of the footer here */
	/*line-height: 95px; /* Vertically center the text there */
	background-color: #ff7100;
	}

	.social-icon {
	padding: 0 5px 0 5px;
	color: #fff;
	}

	.social-icon:hover {
	color: #fff;
	opacity: 0.7;
	}

	.ip {
	text-align: center;
	font-family: Sintony;
	font-size: 0.7em;
	color: #000;
	padding-top: 12px;
	font-style: italic;
	}

	.ext-link {
		font-family: Telegrama, serif;
		font-style: Render;
		color: #ff7100;
		margin-left: 50px;
	}

	.ext-ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.quote {
		font-family: IM Fell Double Pica, serif;
		font-style: italic;
		font-size: 2.5em;
		color: #f2c86e;
		text-align: center;
	}

	.home-title {
		font-family: Eurostile, sans serif;
		/*font-weight: 500;*/
		font-size: 3em;
		color: #fff;
		opacity: 0.7;
	}

	.home-stats {
		font-family: Eurostile, sans serif;
		font-weight: 700;
		font-size: 3em;
		color: #ff7100;
	}

	.card-std {
		border-color: #ff7100;
	}

	.list-group-item {
		background-color: #111;
		color: #fff;
		text-align: center;
		border-color: #ff7100;
	}

	.list-group-item:hover {
		background-color: #000;
	}

	.blockquote-std { /*needs to be manually added to the div*/
		border: 2px solid;
		border-color: #ff7100;
		font-size: 0.8em;
		padding: 5px 5px 5px 5px;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		}

.flow {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	}

.watermark {
    width: 50%;
    margin-top: -35px;
    margin-left: -10px;
  }

.cmdr {
    font-family: Eurostile;
    color: #fff;
    font-size: 0.9em;
    margin-top: 138px;
    margin-left: -10px;
    }

.cmdr-name {
    font-family: Eurostile;
    color: #fff;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: -22px;
    margin-left: -10px;
    }

  .ship {
    font-family: Eurostile;
    color: #ff7100;
    margin-top: -23px;
    margin-left: -10px;
    }

  .number {
    font-family: Eurostile;
    color: #ff7100;
    margin-top: -39px;
    text-align: right;
    margin-right: -10px;
    font-size: 0.8em;
  }

  .show-grad {
    background: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4),  rgba(0,0,0,0), rgba(0,0,0,0.8));
    }

.scout-nav-item {
	background-color: #111111;
	border: 1px solid #ff7100;
	margin: 1px;
}

.scout-nav-item:hover {
	background-color: #000;
	border: 1px solid #f2c86e;
}

.scout-nav-item:active {
	background-color: #ff7100;
	border: 1px solid #ff7100;
}

.scout-nav-item:focus {
	background-color: #ff7100;
	border: 1px solid #ff7100;
}

.a-scout {
	line-height: 50px;
	padding: 0 12px;
	display: inline-block;
	text-decoration: none;
	color: #ff7100;
	text-align: center;
	vertical-align: middle;
}

.a-scout:visited {
	color: #ff7100;
}

.a-scout:hover {
	text-decoration: none;
	color: #f2c86e;
	text-align: center;
	vertical-align: middle;
}

.a-scout:focus {
	text-decoration: none;
	color: #ff7100;
	text-align: center;
	vertical-align: middle;
}

.a-scout:active {
	text-decoration: none;
	color: #000;
	text-align: center;
	vertical-align: middle;
}
