	html {
	  position: relative;
	  min-height: 100%;
	}
	body {
	  margin-bottom: 145px; /* Margin bottom by footer height */
	}

	p {
		color: white;
		text-align: justify;
		font-family: Sintony, sans serif;
	}

	li {
		color: white;
		text-align: justify;
		font-family: inherit;
	}


	ul {
		color: white;
		text-align: justify;
		font-family: Sintony;
	}

	ol {
		color: white;
		text-align: justify;
		font-family: Sintony;
	}

	h1 {
		font-family: Eurostile;
		font-weight: bold;
		font-size: 3em;
		color: #fff;
		text-transform: uppercase;
		padding-left: 30px;
	}

	h2 {
		font-family: Eurostile;
		font-weight: bold;
		font-size: 2em;
		color: #fff;
		opacity: 0.6;
		padding-left: 30px;
	}

	h3 {
		font-family: Eurostile;
		font-size: 1.5em;
		color: #ff7100;
		padding-left: 10px;
	}

	h4 {
		font-family: Eurostile;
		font-size: 1.3em;
		color: #fff;
		padding-left: 10px;
	}

	h5 {
		font-family: Telegrama;
		font-style: Render;
		font-size: 1.2em;
		color: #f2c86e;
		padding-left: 10px;
	}

	img {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}



	.link {
		color: #ff7100;
	}

	.link:hover {
		color: #f2c86e;
	}

	.content-img {
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;

	}

	.highlight {
		color: #f2c86e;
	}

	.highlight2 {
		color: #3dabb8;
	}

	.warning {
		color: #c12323;
	}

	.title-container {
		display: block;
		background-color: #ff7100;
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	.grad {
		height: 25px;
		background-color: #ff7100;
		background: linear-gradient(to bottom,rgba(255,28,0,0.3),rgba(255,28,0,0));
	}

	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  margin-top: 50px;
	  height: 95px; /* Set the fixed height of the footer here */
	  /*line-height: 95px; /* Vertically center the text there */
	  background-color: #ff7100;
	}

	.social-icon {
	    padding: 0 5px 0 5px;
	    color: #fff;
	}

	.social-icon:hover {
	    color: #fff;
	    opacity: 0.7;
	}

	.ip {
	    text-align: center;
	    font-family: Sintony;
	    font-size: 0.7em;
	    color: #000;
	    padding-top: 12px;
	    font-style: italic;
	}

	.ext-link {
		font-family: Telegrama, serif;
		font-style: Render;
		color: #ff7100;
		margin-left: 50px;
	}

	.ext-ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.quote {
		font-family: IM Fell Double Pica, serif;
		font-style: italic;
		font-size: 2.5em;
		color: #f2c86e;
		text-align: center;
	}

	.home-title {
		font-family: Eurostile, sans serif;
		/*font-weight: 500;*/
		font-size: 3em;
		color: #fff;
		opacity: 0.7;
	}

	.home-stats {
		font-family: Eurostile, sans serif;
		font-weight: 700;
		font-size: 3em;
		color: #ff7100;
	}

	.card {
		border-color: #ff7100;
	}

	.list-group-item {
		background-color: #111;
		color: #fff;
		text-align: center;
		border-color: #ff7100;
	}

	.list-group-item:hover {
		background-color: #000;
	}

	.blockquote { /*needs to be manually added to the div*/
		border: 2px solid;
		border-color: #ff7100;
		font-size: 0.8em;
		padding: 5px 5px 5px 5px;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}