{% load widget_tweaks %}
{% if label is not '' %}
<label for="{{ field.auto_id }}" class="sr-only">{{ field.label }}</label>
{% endif %}
{% if form.is_bound %}
    {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
        {% endfor %}
    {% else %}
        {% render_field field class="form-control is-valid" %}
    {% endif %}
{% else %}
    {% render_field field class="form-control" placeholder=placeholder %}
{% endif %}

{% if field.help_text and show_help is not False %}
    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
{% endif %}