{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}

    <title>Distant Worlds 2 | {% block title %}INVALID{% endblock %}</title>

    {% block javascript %}{% endblock %}
</head>
{% block body %}
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">Distant Worlds II</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto nav-justified">
                    <li class="nav-item">
                        {% url 'core:home' as home %}
                        <a class="nav-link {% if request.path == home %}active{% endif %}"
                           href="{{ home }}">Home</a>
                    </li>
                    <li class="nav-item">
                        {% url 'astrophotography:upload-image' as upload_img %}
                        <a class="nav-link {% if request.path == upload_img %}active{% endif %}"
                           href="{{ upload_img }}">Upload</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="btn-group navbar-nav navbar-right">
                        <a class="btn btn-outline-info"
                           href="{% url 'core:home' %}{# todo: user overview page #}">CMDR NAME HERE</a>
                        <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="{% url 'logout' %}" class="dropdown-item"><span
                                    class="glyphicon glyphicon-user"> Logout</span></a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                {% else %}
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link"><span class="glyphicon glyphicon-user"> Sign Up</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link"><span
                                    class="glyphicon glyphicon-user"> Login</span></a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <main role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}
</html>