{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="apple-touch-icon"        sizes="57x57"     href="{% static 'icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon"        sizes="60x60"     href="{% static 'icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon"        sizes="72x72"     href="{% static 'icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon"        sizes="76x76"     href="{% static 'icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon"        sizes="114x114"   href="{% static 'icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon"        sizes="120x120"   href="{% static 'icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon"        sizes="144x144"   href="{% static 'icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon"        sizes="152x152"   href="{% static 'icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon"        sizes="180x180"   href="{% static 'icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png"   sizes="192x192"   href="{% static 'icons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png"   sizes="32x32"     href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png"   sizes="96x96"     href="{% static 'icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png"   sizes="16x16"     href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'icons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'icons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    {% block stylesheet %}{% endblock %}

    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <title>Distant Worlds 2 | {% block title %}INVALID{% endblock %}</title>

    {% block javascript %}{% endblock %}
</head>
{% block body %}
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <!-- main navbar title & toggle icon -->
            <a class="navbar-brand" href="{% url 'core:home' %}">distant worlds ii</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <!-- navbar section -->
                <ul class="navbar-nav mr-auto nav-justified">
                    <li class="nav-item">
                        {% url 'core:home' as home %}
                        <a class="nav-link {% if request.path == home %}active{% endif %}"
                           href="{{ home }}">home</a>
                    </li>
                    <li class="nav-item">
                        {% url 'astrophotography:upload-image' as upload_img %}
                        <a class="nav-link {% if request.path == upload_img %}active{% endif %}"
                           href="{{ upload_img }}">upload</a>
                    </li>
                    <li class="nav-item">
                        {% url 'core:roster' as roster %}
                        <a class="nav-link {% if request.path == roster %}active{% endif %}"
                           href="{{ roster }}">roster</a>
                    </li>
                </ul>

                <!-- profile section -->
                {% if user.is_authenticated %}
                    <div class="btn-group navbar-nav navbar-right">
                        <a class="btn btn-outline-light btn-sm"
                           href="{% url 'core:home' %}{# todo: user overview page #}"><i class="fas fa-user-circle fa-fw"></i> {{ user.commander }}</a>
                        <button type="button" class="btn btn-sm btn-outline-light dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">toggle dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Images</h6>
                            <a href="#" class="dropdown-item">My Images</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="fas fa-cogs fa-fw"></i> Settings</a>
                            <a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                        </div>
                    </div>
                {% else %}
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            {% url 'register' as register %}
                            <a href="{{ register }}" class="nav-link {% if request.path == register %}active{% endif %}"><i class="fas fa-user-plus"></i> sign up</a>
                        </li>
                        <li class="nav-item">
                            {% url 'login' as login %}
                            <a href="{{ login }}" class="nav-link {% if request.path == login %}active{% endif %}"><i class="fas fa-sign-in-alt"></i> login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    <main role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
{% endblock %}
</html>