{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57"      href="{% static 'favicons/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114"    href="{% static 'favicons/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72"      href="{% static 'favicons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144"    href="{% static 'favicons/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60"      href="{% static 'favicons/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120"    href="{% static 'favicons/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76"      href="{% static 'favicons/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152"    href="{% static 'favicons/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name"                   content="&nbsp;"/>
    <meta name="msapplication-TileColor"            content="#FFFFFF" />
    <meta name="msapplication-TileImage"            content="{% static 'favicons/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo"      content="{% static 'favicons/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo"    content="{% static 'favicons/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo"      content="{% static 'favicons/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo"    content="{% static 'favicons/mstile-310x310.png' %}" />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static '/bootstrap/dist/css/bootstrap.css' %}">
    {% block stylesheet %}{% endblock %}

    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.typekit.net/nrn3jvr.css">

    <!-- DataTables -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then DataTables -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css"> -->

    <title>Distant Worlds 2 | {% block title %}invalid title{% endblock %}</title>

    {% block javascript %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
{% block body %}
    <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
            <!-- main navbar title & toggle icon -->
            <a class="navbar-brand " href="{% url 'core:home' %}"><img src="{% static '/svg/watermark.svg' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <!-- navbar section -->
                <ul class="navbar-nav mr-auto justify-content-center">
                    <li class="nav-item">
                        {% url 'core:home' as home %}
                        <a class="nav-link {% if request.path == home %}active{% endif %}"
                           href="{{ home }}">home</a>
                    </li> <!-- home -->
                    <li class="nav-item">
                        {% url 'core:join' as join %}
                        <a class="nav-link {% if request.path == join %}active{% endif %}"
                           href="{{ join }}">sign up</a>
                    </li> <!-- join -->
                    <li class="nav-item">
                        {% url 'core:news' as news %}
                        <a class="nav-link {% if request.path == news %}active{% endif %}"
                           href="{{ news }}">news</a>
                    </li> <!-- news -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="fleetDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">the fleet</a>
                        <div class="dropdown-menu" aria-labelledby="fleetDropdown">
                            <a href="{% url 'core:roster' %}" class="dropdown-item">roster</a> <!-- fleet roster -->
                            <a href="{% url 'core:stats'  %}" class="dropdown-item">statistics</a> <!-- fleet stats -->
                            <a href="{% url 'core:showcase'  %}" class="dropdown-item">showcase</a> <!-- ship showcase -->
                        </div>
                    </li> <!-- roster dropdown -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="expeditionDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">the expedition</a>
                        <div class="dropdown-menu" aria-labelledby="expeditionDropdown">
                            <a href="#" class="dropdown-item disabled">maps and basecamps</a> <!-- maps/basecamps -->
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'core:background' %}" class="dropdown-item">background</a> <!-- background -->
                            <a href="{% url 'core:distantworlds2' %}" class="dropdown-item">distant worlds 2</a> <!-- dw2 -->
                            <a href="{% url 'core:cg-proposal' %}" class="dropdown-item">community goal proposal</a> <!-- cg proposal -->
                        </div>
                    </li> <!-- expedition dropdown -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="photoDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">photography</a>
                        <div class="dropdown-menu" aria-labelledby="photoDropdown">
                            <a href="{% url 'astrophotography:upload-image' %}" class="dropdown-item">upload screenshot</a> <!-- upload -->
                            <a href="{% url 'astrophotography:gallery' %}" class="dropdown-item">photo gallery</a> <!-- gallery -->
                            <a href="#" class="dropdown-item disabled">photo contest</a> <!-- contest -->
                        </div>
                    </li> <!-- photo dropdown -->
                    <li class="nav-item">
                        {% url 'core:success' as scouting %}
                        <a class="nav-link {% if request.path == scouting %}active{% endif %}"
                           href="{{ scouting }}">scouting</a>
                    </li> <!-- scouting -->
                    <!--<li class="nav-item">
                        {% url 'core:roster' as roster %}
                        <a class="nav-link {% if request.path == roster %}active{% endif %}"
                           href="{{ roster }}">roster</a>
                    </li> <!-- fleet roster -->
                    <!-- <li class="nav-item">
                        {% url 'core:stats' as stats %}
                        <a class="nav-link {% if request.path == stats %}active{% endif %}"
                           href="{{ stats }}">statistics</a>
                    </li> <!-- fleet stats -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="infoDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">info</a>
                        <div class="dropdown-menu" aria-labelledby="infoDropdown">
                            <a href="#" class="dropdown-item disabled">beginner info</a> <!-- beginners -->
                            <a href="#" class="dropdown-item disabled">order custom embroidered patch</a> <!-- patch -->
                            <div class="dropdown-divider"></div>
                            <a href="{% url 'core:contact' %}" class="dropdown-item">contact</a> <!-- contact -->
                            <a href="#" class="dropdown-item disabled">fleetcomm private group</a> <!-- fleetcomm -->
                            <a href="#" class="dropdown-item disabled">faq</a> <!-- faq -->

                        </div>
                    </li> <!-- info dropdown -->
                </ul>

                <!-- profile section -->
                {% if user.is_authenticated %}
                    <div class="btn-group navbar-nav navbar-right">
                        <a class="btn btn-outline-light btn-sm"
                           href="{% url 'core:home' %}{# todo: user overview page #}"><i class="fas fa-user-circle fa-fw"></i> {{ user.commander }}</a>
                        <button type="button" class="btn btn-sm btn-outline-light dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">toggle dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Images</h6>
                            <a href="#" class="dropdown-item disabled">My Images</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="fas fa-cogs fa-fw"></i> Settings</a>
                            <a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
                        </div>
                    </div>
                {% else %}
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item">
                            {% url 'register' as register %}
                            <a href="{{ register }}" class="nav-link {% if request.path == register %}active{% endif %}"><i class="fas fa-user-plus"></i> sign up</a>
                        </li>
                        <li class="nav-item">
                            {% url 'login' as login %}
                            <a href="{{ login }}" class="nav-link {% if request.path == login %}active{% endif %}"><i class="fas fa-sign-in-alt"></i> login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block main %}
    <main role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% endblock %}

    </body>
{% endblock %}
</html>